[2018-03-20 16:22] dionhaefner opened #2 "Code Review"
Great job so far! Here's the things I stumbled upon:

## Documentation

- Be consistent: timestep vs timestamp
- I don't think we need to explain the layout of the option files; an example is sufficient.
- I think it is tremendously helpful to see example responses of the API calls early on.

## Configuration

- Why split `path` and `regex`? Just have `path_regex`.
- Not sure about the `yes`/`no`

[2018-05-29 17:03] dionhaefner opened #9 "Adapt to AWS λ"

[2018-05-29 17:03] dionhaefner opened #10 "Add support for seamless layers"

[2018-05-29 17:03] dionhaefner opened #11 "Support vector layers"

[2018-05-29 17:03] dionhaefner opened #12 "Support RGB data"
Support serving multi-band images as RGB. A special case of #14.

[2018-05-30 14:06] dionhaefner opened #13 "Add support for in-memory / streamed datasets?"
Possible use case: Use `terracotta` to serve up tiles from `bathymetry`.

[2018-06-25 12:45] mrpgraae opened #14 "False-color support"
It should be possible to choose the mapping from band to RGB, in a multi-band raster.

Presumably, the best method would be for the client to pass the mapping as HTTP query parameters.
Additionally, we could have a mapping from band name (e.g. NIR) to band number in raster. This mapping could be specified in the dataset configuration. The client could then specify the false color mapping as someth

[2018-06-25 13:09] mrpgraae opened #15 "Contrast parameters"
The client needs to be able to adjust the contrast of the images through query parameters.

For grayscale / single-band this can be easily done, by passing contrast_min and contrast_max query parameters to the existing `contrast_stretch` function.

For RGB / false-color images, this could be significantly more complicated.

[2018-06-25 13:13] mrpgraae opened #16 "API Spec"
We should settle on a stable API that we can document for the front-end developers, as soon as possible.

[2018-06-25 14:45] #12 closed, assigned to nobody

[2018-07-06 13:57] dionhaefner opened #18 "Check database MD5 hash before downloading"
Example : https://github.com/Miserlou/zappa-django-utils/blob/master/zappa_django_utils/db/backends/s3sqlite/base.py

[2018-07-06 14:36] dionhaefner opened #19 "GDAL errors for very low zoom levels"
If a dataset collapses to only a handful of pixels, GDAL fails to read it. We should check for that case beforehand and just return an empty image.

[2018-07-09 10:56] #2 closed, assigned to nobody

[2018-07-09 14:16] dionhaefner opened #20 "Support band math"

[2018-07-09 14:31] dionhaefner opened #21 "Figure out request authentication"

[2018-07-10 07:51] dionhaefner opened #22 "Figure out how to handle previews"
Possibilities:

- Store in the database as `base64`-encoded binary blob. Might lead to significantly larger databases though.
- Store a file path in the database. But leading where? This would require additional user input.
- Generate previews on the fly through `/rgb` or `/singleband` with a low zoom level, or add another API endpoint that reads a whole dataset (as opposed to an XYZ tile).

[2018-07-10 08:04] dionhaefner opened #23 "Support non-linear rescaling"
Such as conversions between different color spaces

[2018-07-10 08:04] #9 closed, assigned to mrpgraae

[2018-07-10 08:04] #14 closed, assigned to dionhaefner

[2018-07-10 08:04] #15 closed, assigned to dionhaefner

[2018-07-10 08:04] #16 closed, assigned to nobody

[2018-07-10 08:05] dionhaefner opened #24 "Add preview as a stand-alone command"
Can be used to quickly connect to a running Terracotta instance and explore the data stored there.

[2018-07-12 14:07] dionhaefner opened #25 "Push test coverage"
Goal: at least 90% coverage

[2018-07-12 14:22] dionhaefner opened #26 "Let users supply key names before deployment?"
Currently, key names are read from the database. Alternatively, we could require users to supply both a database *and* the associated keys.

Pro:
- API spec can include key names, and becomes fully OpenAPI compliant
- API endpoints can fail immediately (without database lookup) if request supplies the wrong keys
- One less database lookup per request, cleaner code in driver (one less table in data

[2018-07-12 14:34] dionhaefner opened #27 "Set correct version when deploying through Zappa"
Currently falls back to `0+unknown`.

[2018-07-16 09:55] dionhaefner opened #28 "Experiment with different resampling settings"
Maybe introduce a config parameter.

[2018-07-16 16:39] #27 closed, assigned to nobody

[2018-07-24 12:13] dionhaefner opened #30 "Profile AWS performance"

[2018-07-24 14:29] #30 closed, assigned to nobody

[2018-07-25 11:17] #28 closed, assigned to nobody

[2018-07-25 11:18] #19 closed, assigned to nobody

[2018-07-30 09:17] dionhaefner opened #32 "More error handling during ingestion"
Currently, users can corrupt their database if exceptions occur during ingestion. We need to change that.

[2018-07-30 13:21] dionhaefner opened #33 "Introduce multiqueries for dataset lookup"
To make it easier to scale to large data collections, we should support queries in `/datasets` such as

`/datasets?year=[2016,2018]`

which would return all datasets from `2016` and `2018`.

Another consideration could be range-based queries, but that would require the introduction of per-key datatypes, which is something I'd like to avoid for now.

[2018-07-30 13:22] dionhaefner opened #34 "Create COGs through rasterio instead of GDAL"
See e.g. https://github.com/mapbox/rio-cogeo/blob/master/rio_cogeo/profiles.py

[2018-07-30 13:23] dionhaefner opened #35 "Validate COGs in tests"
Official validation script: https://svn.osgeo.org/gdal/trunk/gdal/swig/python/samples/validate_cloud_optimized_geotiff.py

[2018-07-30 17:22] dionhaefner opened #36 "Write PNGs through rasterio / GDAL"
- Gets rid of pillow
- Less awkward nodata handling

[2018-07-30 17:23] dionhaefner opened #37 "Support GTiffs with explicit nodata masks"

[2018-07-30 17:26] dionhaefner opened #38 "Reproject during ingestion"

[2018-07-30 17:32] dionhaefner opened #39 "Support additional image formats"
E.g. JPEG or webp

[2018-07-30 17:42] dionhaefner opened #40 "Check database integrity on first access"

[2018-07-30 17:42] #32 closed, assigned to nobody

[2018-07-30 20:07] dionhaefner opened #41 "Warn when ingesting un-optimized GTiff"

[2018-07-30 20:08] dionhaefner opened #42 "Use downsampled version when computing metadata on the fly"

[2018-07-31 10:44] #35 closed, assigned to nobody

[2018-07-31 10:44] #34 closed, assigned to nobody

[2018-07-31 11:21] dionhaefner opened #43 "Use some logging"

[2018-08-01 09:24] dionhaefner opened #44 "Figure out how to handle categorical data"
Challenges:
- values must be mapped to colors consistently
- stretching does not make sense
- legend must be able to return categories
- whether a dataset is categorical or not must be known at ingestion time
- or is there a way to provide most of this while keeping terracotta agnostic of categories?
- how big of a use case is categorical data in the real world™️?

[2018-08-01 09:33] #36 closed, assigned to nobody

[2018-08-01 16:17] dionhaefner opened #45 "Add delete method to driver API"

[2018-08-01 16:21] dionhaefner opened #46 "Add capability to pre-compute metadata before ingesting"
This allows users to parallelize metadata computation

[2018-08-02 13:31] #46 closed, assigned to nobody

[2018-08-02 13:31] #45 closed, assigned to nobody

[2018-08-08 13:48] #18 closed, assigned to mrpgraae

[2018-08-09 15:30] dionhaefner opened #47 "Properly test legend call"
Should check whether returned images match the returned legend

[2018-08-24 11:46] mrpgraae opened #49 "daskify metadata computation"
We have a project where we want to use Terracotta to serve up some huge watermasks.
There's no way we can load an entire file into memory and do computations (a 32gb machine fails when computing the metadata), this is of course no problem for serving the files, as they are cloud-optimized.

However, the metadata computation when creating the database still assumes that the entire file fits into me

[2018-08-28 15:11] mrpgraae opened #50 "Out of memory when serving large rasters"
I used an overview to compute metadata, to get around the issue in #49. When I serve the data in Terracotta, I sometimes see this:

[code]

Which becomes a 500 response. It happens when I zoom out a bit, which might indicate that this could be a problem with loading the overviews. The innermost (highest res) overview is 43846x33163, which corresponds to a size of 1.45 GB (the raster is uint8), so

[2018-08-30 10:46] dionhaefner opened #53 "Support datasets spanning the antimeridian"
Untested, but since none of the methods are written with the antimeridian in mind, I expect it to fail.

[2018-08-31 11:17] #49 closed, assigned to mrpgraae

[2018-08-31 11:17] #50 closed, assigned to nobody

[2018-08-31 13:41] #25 closed, assigned to nobody

[2018-08-31 14:00] dionhaefner opened #54 "Add real bounds to database"
I.e., convex dataset bounds that contain valid data.

[2018-08-31 17:15] dionhaefner opened #55 "Add parallel preprocessing capabilities"
Preprocessing is pretty slow on large rasters. Processing several blocks in parallel could mitigate that. Alternatively, we can process multiple files in parallel (e.g. in `optimize_rasters`).

[2018-09-04 08:37] dionhaefner opened #56 "Add option to use lossy compression in optimize-rasters"

[2018-09-04 08:43] dionhaefner opened #57 "Better progress bar in optimize-rasters"
Can show progress for current raster, since we iterate over blocks anyway (requires `tqdm`).

[2018-09-04 09:22] dionhaefner opened #58 "Revisit up- and downsampling"
- Do we really need two separate options?
- At which zoom level should the breakpoint between up- and downsampling occur?

[2018-09-07 07:06] dionhaefner opened #61 "Add Terracotta version to database"
E.g. via https://www.sqlite.org/pragma.html#pragma_user_version

[2018-09-07 08:38] dionhaefner opened #62 "Add WSGI instructions to README"
- Test running Terracotta as a WSGI app (maybe on EC2)
- Profile and fix possible performance issues
- Document setup process

[2018-09-07 16:25] dionhaefner opened #64 "Add TTL for database retrieval"
In certain cases (empty images) most time is spent retrieving remote databases, even if hashes are matching. I propose to cache remote databases with `cachetools.TTLCache`, so Terracotta only needs to check for a database update every 10 minutes or so.

[2018-09-10 16:11] #43 closed, assigned to nobody

[2018-09-10 17:19] #57 closed, assigned to nobody

[2018-09-10 17:26] #54 closed, assigned to nobody

[2018-09-10 17:28] dionhaefner opened #65 "Add pagination for bulk requests"
Returning too many rows overloads both frontend and backend. This is usually solved by introducing a `page` and `limit` parameter to iterate through results.

Steps to implement:
- Add `page` parameter to `/datasets` schema
- Add global query limit setting
- Add some `LIMIT` and offset to SQL queries

[2018-09-15 17:32] dionhaefner opened #68 "Caches should be invalidated when settings change"
Probably the cleanest solution would be to pass relevant settings to cached methods explicitly instead of calling `get_settings` inside them.

[2018-09-15 19:14] dionhaefner opened #69 "Transforming raster features sometimes creates self-intersecting geometries"
Should be fixed by adding a `.buffer(0)` before computing `shapely.ops.unary_union`.

[2018-09-17 08:45] dionhaefner opened #70 "Slow convex hull computation for very fragmented rasters"
Rasters with lots of small holes are currently taking up to 20 minutes to ingest (10980 x 10980), with most of the time spent computing the convex hull of the footprint.

Possible remedies:
1. Pre-filter raster data with `raster.features.sieve` to remove small-scale variability. This works well (cuts computation time to 30s), but what should the sieve size be?
2. Replace `shapely.ops.unary_union`

[2018-09-17 14:34] #69 closed, assigned to nobody

[2018-09-17 15:11] #47 closed, assigned to nobody

[2018-09-17 15:18] #44 closed, assigned to nobody

[2018-09-18 15:19] #64 closed, assigned to nobody

[2018-09-18 15:19] #68 closed, assigned to nobody

[2018-09-18 15:19] #70 closed, assigned to nobody

[2018-09-19 08:01] dionhaefner opened #72 "Streamline deployment"
We could use Zappa callbacks to do some basic checking before deploying to AWS:

- Is the provider set to a remote provider?
- Is the given database readable and consistent? (#40)
- Does the database version match the Terracotta version? (#61)
- Do some magic, extract keys from given database, and "compile" them into the package (#26)

From a user perspective, the only new requirement would be tha

[2018-09-19 08:04] dionhaefner opened #73 "Add key descriptions to database"
Users might want to add some explanation to their keys that can be passed on through `/keys` and `/apidoc`.

[2018-09-24 09:11] dionhaefner opened #74 "Use Flask error handlers instead of convert_exceptions decorator"
Relevant docs: http://flask.pocoo.org/docs/1.0/errorhandling/#application-errors

[2018-09-27 09:31] dionhaefner opened #76 "Add MySQL driver"
The SQLite driver is not really scalable. A good solution could be to implement a MySQL driver for Terracotta. The database could then be stored on AWS RDS for remote deployments, e.g. on [Aurora Serverless](https://aws.amazon.com/rds/aurora/serverless/), or using the Free Tier MySQL instances.

[2018-09-27 16:11] dionhaefner opened #77 "Write the docs"
Index page / README:
  - [ ] Add screencast of optimize - ingest  - serve - connect workflow
  - [x] Illustrate data model through analogies (folder structure - HTTP path)
  - [x] Add diagram of architecture
  - [x] Show API endpoints
  - [x] Add logo

Get started:
  - [x] Installation via pip / conda
  - [x] Ingestion
  - [x] Deployment
  - [x] Connect

Configuration:
  - [x] Polish
  - [x] Docum

[2018-09-27 16:36] #40 closed, assigned to dionhaefner

[2018-10-02 11:17] mrpgraae opened #78 "Better class hierarchy"
I looked at the hierarchy of our Driver classes and I think there is a better solution.

I think we we should split the Driver base class into a base class for handling database-like behavior (`create`, `connect`, `get_datasets`, `get_metadata`, `insert`, `delete`) and a base class for handling raster-like behavior (`get_raster_tile`, `compute_metadata`).

We can then make concrete classes like `S

[2018-10-02 15:31] dionhaefner opened #79 "Support feature timeseries extraction"
This is a feature request on behalf of @mads-gras.

The idea is to extract values from a stack of images at the same position. Challenges:

- Opening many COGs over S3 and extracting small subsets will be *slow*.
- We would need another API endpoint, and a clean way to specify the images you want (can't rely on last key as in `/rgb`).
- Terracotta does not know about *pixels*, only about `xyz` til

[2018-10-04 12:06] #22 closed, assigned to dionhaefner

[2018-10-04 12:06] #41 closed, assigned to nobody

[2018-10-04 12:06] #61 closed, assigned to dionhaefner

[2018-10-04 12:06] #72 closed, assigned to dionhaefner

[2018-10-04 12:06] #73 closed, assigned to dionhaefner

[2018-10-05 13:26] #58 closed, assigned to nobody

[2018-10-05 16:20] dionhaefner opened #82 "Warning on unoptimized raster doesn’t work"

[2018-10-05 16:21] dionhaefner opened #83 "Do we really need logfile support?"

[2018-10-08 08:57] #11 closed, assigned to nobody

[2018-10-08 10:48] #83 closed, assigned to nobody

[2018-10-10 08:19] #38 closed, assigned to nobody

[2018-10-10 08:19] #82 closed, assigned to nobody

[2018-10-17 12:45] dionhaefner opened #85 "New optimizer-rasters progress bar doesn't work"
We incorrectly assumed that reading the rasters would be the bottleneck. In reality, creating the overviews takes the most time, so it stalls most of the time.

We should find a different solution, or just revert to a file-based progress bar.

[2018-10-18 07:26] dionhaefner opened #86 "Deprecate lazy loading of raster metadata?"
Currently, we support two *modus operandi*:

1. Fully ingest all datasets into the Terracotta database, which makes all metadata available immediately, but all rasters need to be read once (about 10-20s per Sentinel-2 band file).
2. Skip ingestion of metadata and only insert dataset names into the database. On the first `/metadata` request to the dataset, it is read as a whole, metadata is compute

[2018-10-18 20:01] #39 closed, assigned to nobody

[2018-10-19 13:26] #62 closed, assigned to nmheim

[2018-10-22 08:22] #56 closed, assigned to nobody

[2018-10-22 09:06] dionhaefner opened #87 "Change default compression algorithm"
@j08lue found [this interesting article](https://kokoalberti.com/articles/geotiff-compression-optimization-guide/) benchmarking GDAL's compression algorithms. We are currently using LZW, which is horrible for floating data. We mostly care about read speed, then compression ratio, then write speed, so ZSTD looks like a better alternative.

Documentation of GDAL's compression options [can be found h

[2018-10-22 12:23] dionhaefner opened #88 "Change destination for temporary files in optimize-rasters"
`optimize-rasters` writes intermediate files to `tempdir`, which is always on the root disk. It would be more conservative to write them to the output destination, since the rasters might be huge, and the root disk might be small (as is the case with many VM deployments).

[2018-10-22 16:41] #24 closed, assigned to dionhaefner

[2018-10-22 16:41] #65 closed, assigned to nobody

[2018-10-24 09:02] dionhaefner opened #89 "Change raster_pattern magic to regex"
The `terracotta create-database {key1}_{key2}.tif` patterns are not working, since all placeholders are just replaced by greedy `*` patterns, which may cause them to consume too much unexpectedly, ending up with keys like `band=B04_something` for the filename `S2_20180101_B04_something.tif`.

I declare my attempt at being clever and user-friendly as failed, so we should revert to regexes as patter

[2018-10-26 13:52] dionhaefner opened #91 "Write a client library"
Terracotta would only be a complete A-Z solution if we also provided a client library in Javascript to do some of the heavier lifting.

I don't see this happen anytime soon, since we would need someone who is way way better at Javascript than me.

[2018-10-29 13:50] #89 closed, assigned to nobody

[2018-11-01 16:27] #42 closed, assigned to nobody

[2018-11-01 16:27] #85 closed, assigned to nobody

[2018-11-01 16:27] #86 closed, assigned to nobody

[2018-11-01 16:27] #87 closed, assigned to nobody

[2018-11-01 16:27] #88 closed, assigned to nobody

[2018-11-02 16:27] dionhaefner opened #95 "Sub-progress bars do not obey --quiet"

[2018-11-06 15:23] dionhaefner opened #96 "Page and limit can produce non-deterministic results"
We should sort the rows by something, e.g. by the keys.

[2018-11-06 16:38] dionhaefner opened #97 "Wrong progress bar when using --reproject"
Will the progress bar related bugs ever end?

[2018-11-06 17:15] dionhaefner opened #98 "Windowed reads lead to visible tile edges for high zoom levels"

[2018-11-06 17:34] dionhaefner opened #99 "VRT reprojection erodes dataset edges for low zoom levels"
Default settings:

<img width="181" alt="bug-default" src="https://user-images.githubusercontent.com/11994217/48082280-8258e800-e1f2-11e8-8b53-30487f058d45.PNG">

Nearest neighbor downsampling and upsampling:

<img width="160" alt="bug-nearest" src="https://user-images.githubusercontent.com/11994217/48082292-8a188c80-e1f2-11e8-8faa-365c41ab056b.PNG">

Default settings for raster reprojected to Web

[2018-11-07 11:45] mrpgraae opened #100 "Add support for transparency in colormaps"
We could allow the user to also specify the alpha channel, when passing an `explicit_color_map`. Could be nice for when the data is used as an overlay to a street map, for example.

[2018-11-08 14:04] mrpgraae opened #101 "Graphical glitch on high zoom levels"
When zooming in very close with `UPSAMPLING_METHOD = 'nearest'`, the pixels seem to overlap in a weird way:

![image](https://user-images.githubusercontent.com/3639582/48203312-72aee000-e367-11e8-9ca2-cc2c342f34e9.png)

This is probably related to the interpolation issues we have seen with other upsampling methods.

[2018-11-08 19:34] #76 closed, assigned to mrpgraae

[2018-11-08 19:41] #100 closed, assigned to nobody

[2018-11-13 16:21] dionhaefner opened #104 "Supply a way to retrieve unique key values"
When serving heterogeneous datasets (e.g. data with a `type` key), if could be very useful to be able to retrieve all unique key values.

Examples:

1. Get all unique keys
[code]

2. Get keys valid for reflectances
[code]

3. Get all data for a specific date
[code]

An alternative could be to find a better abstraction / separation between datasets.

[2018-11-15 13:46] dionhaefner opened #105 "Add a way to detect out of date metadata"
This could imply storing hashes, file sizes, or dates.

[2018-11-16 15:32] #97 closed, assigned to nobody

[2018-11-16 22:11] danmindru opened #106 "Create logo"
The code can wait

<img width="814" alt="logo 2x" src="https://user-images.githubusercontent.com/1515742/48650887-8c4fc780-e9f8-11e8-9fad-6feb7fb0f657.png">

<img width="814" alt="logo 2 2x" src="https://user-images.githubusercontent.com/1515742/48650886-8c4fc780-e9f8-11e8-8890-db4be58cd85e.png">

That's my logo submission :shipit:

[2018-11-19 10:33] dionhaefner opened #108 "Limit argument is not obeyed when using key constraints"

[2018-11-20 11:49] #95 closed, assigned to nobody

[2018-11-21 12:54] #101 closed, assigned to nobody

[2018-11-23 11:35] #37 closed, assigned to nobody

[2018-11-23 11:35] #96 closed, assigned to nobody

[2018-11-23 11:35] #98 closed, assigned to nobody

[2018-11-23 11:35] #99 closed, assigned to nobody

[2018-11-23 11:35] #108 closed, assigned to nobody

[2018-11-28 08:13] dionhaefner opened #113 "Better debug logging"
We do have logging support, but use it pretty sparingly. Possible enhancements include:

- Print SQL queries for SQL-based drivers
- Forward some information from GDAL, like total number of GET requests made to retrieve a dataset
- Some information from dataset profiles
- Paths used to retrieve dataset

[2018-11-28 15:34] dionhaefner opened #114 "Wrong URL on apidocs"
The example URLS on `/apidoc` strip any additional path from the hostname, so `example.com/terracotta` becomes `example.com`.

[2018-12-04 08:41] #106 closed

[2018-12-04 08:41] #77 closed

[2018-12-11 12:59] dionhaefner opened #116 "Compress cached tiles in memory"
We currently run with 500MB of raster cache by default, which fills up very very quickly. We could alleviate this a bit by compressing the tiles before adding them to the cache (and decompress upon reading).

[2018-12-13 13:45] robmarkcole commented on #91
Perhaps just write some docs for use with an existing solution e.g. https://terria.io/

[2018-12-13 13:47] dionhaefner commented on #91
Great point, thanks!

[2018-12-14 09:49] dionhaefner commented on #91
For the record, it's really easy to do on something like [geojson.io](https://geojson.io):

- Click `Meta -> Add Map Layer`
- Enter URL to dataset in the form `http://localhost:5000/singleband/key1/.../keyN/{z}/{x}/{y}.png` (with Terracotta serving on `localhost:5000` in this case; you can get the keys from `http://localhost:5000/datasets`)

Works similarly on everything that uses Leaflet.JS, via

[2018-12-14 10:06] robmarkcole opened #117 "Baseline compatability with STAC?"
I haven't spent much with with terracotta yet but its great that it is agnositc about the file structure of imagery. However you might also want to have a baseline for documenting etc, so perhaps could consider adhering to the STAC spec? https://github.com/radiantearth/stac-spec

[2018-12-14 10:45] dionhaefner commented on #117
Very interesting.

Part of the point of Terracotta is that we do not want to include *all* metadata that you could conceivably use to describe a raster file to build a catalogue, but instead hand-pick only the relevant keys that make sense for your given deployment. We made this choice because of two main reasons:

1. To reduce cognitive load on users and frontend devs (who might not be familiar w

[2018-12-16 15:00] mrpgraae commented on #116
That is a really good idea IMO, I have had problems with a gunicorn + tc deployment eating up a lot of memory, due to each worker thread having it's own cache. So anything that optimizes caching would be a good idea I think. I would also expect the overhead of decompressing the tiles to be insignificant compared to network I/O.

[2018-12-16 15:15] mrpgraae commented on #21
OAuth 2.0 seems to be the standard for APIs that require authentication. Something like this maybe: https://docs.authlib.org/en/latest/flask/2/

[2018-12-16 16:05] dionhaefner commented on #21
Good point. The initial issue was mostly about Lambda deployments though (in case you want to serve sensitive data). I guess there are different options (whitelist certain hosts, sign requests somehow), but I don't know which would be easiest.

[2018-12-16 16:06] dionhaefner commented on #116
Yea should be fairly low-hanging. Alternatively we could have another stab at making some driver thread-safe, then you could throw some threads in the mix. Third option could be to leverage an external cache like memcached or redis.

[2018-12-16 21:43] mrpgraae commented on #21
I think the easiest and also the most common mechanism, is a session cookie, stored in the database and passed by the user as a query param on every request and then compared with the one in the db. This of course requires https to be secure, but that should be standard anyways.

This is also simple to implement, which I think is very important for security stuff. Implementing our own security alr

[2018-12-16 21:46] mrpgraae commented on #21
Then the actual mechanism for handing out the session cookie (which I think is a bit more tricky to get right, security-wise) can be totally independent of the given deployment and also of Terracotta, as long as the session ends up in the TC database somehow.

[2018-12-16 21:55] mrpgraae commented on #116
Actually, if we are going to start doing sessions for authentication as per #21, we might want to use something like Redis to store the sessions and then we might as well use it for caching too.

[2018-12-17 08:02] dionhaefner commented on #116
An external cache would be nice, but would be a lot of work, since we also need to support the corresponding AWS service. So we could do both, in-memory compression for now, and explore some of the more sophisticated options.

[2018-12-17 08:05] dionhaefner commented on #21
I'm a bit reluctant to put runtime state into the driver DB. If we can we should explore other options first that don't require changes to Terracotta. I.e., use the appropriate AWS and web server functionality to prevent unauthorized requests from reaching Terracotta in the first place.

[2018-12-17 09:07] mrpgraae commented on #116
Yes, it should also be easy to implement the compression, so we should do that as a first go. For the more sophisticated options on Lambda, there's Amazon Elasticache https://aws.amazon.com/elasticache/ which seems to be just a Redis instance managed by AWS.

[2018-12-17 09:11] mrpgraae commented on #21
For now there is always the option of hiding Terracotta behind a web proxy that takes care of authentication.

[2018-12-17 09:16] dionhaefner commented on #21
That's definitely part of the "figure out" I meant in the title. It was mostly about exploring a few options to the point where we can give a recommendation.

[2018-12-19 08:04] mrpgraae opened #118 "Database compatibility across versions"
There is no guarantee that a database created with an older version of Terracotta will work with a newer version. This means that upgrading an existing deployment of Terracotta can be a bit of a pain, since every dataset in the deployment must be re-ingested into a new database.

We could make this a bit easier, by making a `migrate-db` command, which takes an old db and creates a new one by re-in

[2018-12-19 08:55] j08lue commented on #118
If you did switch to sqlalchemy, like you once considered in https://github.com/DHI-GRAS/terracotta/issues/76#issuecomment-428210439, adding migration would be very simple with [alembic](https://github.com/zzzeek/alembic) or so.

[2018-12-19 10:14] mrpgraae commented on #118
I think changes that break backwards compatibility would mostly be changes that require more / different metadata to be present in the db. That would mean re-computing metadata, which means that there probably isn't much to be gained from a migration script vs. just re-ingesting everything.

For changes that just require some kind of structural db change or that can be directly computed from the o

[2018-12-19 12:59] j08lue commented on #118
That is what some of these tools do for you, based on the changes you make to your model (specified via ORM).

[2018-12-19 14:53] dionhaefner commented on #118
This is indeed a major open question in Terracotta. Let me start by describing how it is currently handled. We currently use semantic versioning (`major.minor.patch`), where `minor` breaks API and database compatibility, and `patch` keeps both. That's why Terracotta currently enforces minor versions to match (both in the driver and in `terracotta connect`). That makes this obsolete:

My hope is th

[2018-12-20 10:51] mrpgraae commented on #118
What if new features are implemented that don't break anything, would that always just be a patch or could it be considered a minor version, which then will make the e.g. `terracotta connect` not work, even though no actual breaking changes were made?

Yes, but as far as I can see, re-ingesting from the old db, using a script like yours would _always_ work right? Unless a change is made which requ

[2018-12-20 16:03] mrpgraae commented on #118
Thanks for the clarification.

Good, we are on the same page then 😄

[2019-01-10 16:42] vlro opened #119 "Explicit Colour Map Returning Transparent Tiles"
Any request with an explicit colour map returns only transparent tiles. It doesn't seem to matter whether we use rgb tuples, rgba tuples or hex strings.

The issue appeared when upgrading from 0.4 to the newest version  (0.5.1.dev3+geed2b0e).
Example request:

`https://example.com/singleband/key1/key2/preview.png?colormap=explicit&explicit_color_map=%7B%220%22%3A%20%22ff0000ff%22%2C%20%221%22%3A%2

[2019-01-10 20:50] dionhaefner commented on #119
Can confirm the bug, but don't know how to fix it yet. I'll need to do some testing.

[2019-01-11 08:39] mrpgraae commented on #119
I'm looking into this

[2019-01-11 08:46] mrpgraae opened #120 "ValueError in terracotta server when connecting with terracotta connect"
The error seems to happen, weirdly enough, only when the frontend tries to fetch the magma colormap. All the other colormaps work fine.

Full server log ouput with traceback:

[code]

[2019-01-11 08:54] mrpgraae commented on #120
```ValueError: cannot reshape array of size 764 into shape (255,3)```
Seems to indicate that there is 1 value missing from the saved colormap for some reason, since 3*255 == 765 and not 764.

[2019-01-11 09:39] dionhaefner commented on #120
No idea what's going on, definitely works for me. Some thoughts:

- Check the path it is trying to load, maybe there are old files in there that didn't get overwritten during upgrading for some reason
- Double-check that npy files are portable

[2019-01-11 09:57] dionhaefner commented on #119
Sorry, got the solution in my sleep :)

[2019-01-11 10:00] mrpgraae commented on #119
Yes, just found it myself also 😄

[2019-01-11 10:04] dionhaefner commented on #119
You can have the honor to fix the tests :grimacing:

Looks like the recent version of the flake8 plugin is broken.

[2019-01-11 10:34] mrpgraae commented on #119
Yes, looks like @j08lue found the issue to be with the pytest-benchmark plugin, so I'm just pinning that to `3.1.1` for now.

[2019-01-11 12:02] j08lue opened #123 "test failures - unpin pytest-benchmark"
Due to this issue https://github.com/ionelmc/pytest-benchmark/issues/145, we currently pin `pytest-benchmarks` to `3.1.1`. We should remove that pin as soon as the fix they pushed is released we verified that it works.

[2019-01-11 12:53] #120 closed

[2019-01-17 23:18] pierotofy commented on #20
This would be amazing!

[2019-01-17 23:49] pierotofy opened #125 "Multiband (RGB) GeoTIFF support?"
Hello :hand:

Just stumbled upon this project and I'm really impressed! I've been thinking about building a project with a similar set of functionalities a few weeks ago, but I'm glad somebody preceded me and I'd rather contribute to this existing effort.

Long story short, my goal is to serve RGB Cloud Optimized GeoTIFFs to a Leaflet map. It seems that Terracotta require all files to be singleban

[2019-01-18 09:36] mrpgraae commented on #125
Hi @pierotofy

Glad that you like Terracotta and that you think it will be useful to you. We would be very happy to have your contributions.

A core philosophy of Terracotta is that we want to make minimal assumptions about the users data. Terracotta is built around the concept of keys, which are arbitrary and completely defined by the user. An example of some keys could be `[location, date, band]

[2019-01-18 09:55] mrpgraae commented on #125
Here is a simple gist that uses Rasterio to split a multi-band raster into 1 file per band https://gist.github.com/mrpgraae/6074a2fea4e50ae79433b260028d6202

[2019-01-18 16:01] #119 closed

[2019-01-18 19:38] pierotofy commented on #125
Thanks for the pointers! I speculated that the choice for single bands must have been the result of a design choice to make minimal assumptions about the input data, but this is good.

I will do some testing in the next few weeks to see if splitting the bands works well enough for my use case.

Thanks again! :+1:

[2019-01-18 19:38] #125 closed

[2019-01-23 13:23] mrpgraae opened #126 "Support non-linear colormaps"
A potentially handy feature (we have some data where it could be useful), would be to specify a non-linear color mapping for the data. To simplify the interface, it could be done as piecewise linear mappings, so essentially just passing several stretch ranges with an additional parameter specifying the colormap range. For example:
[code]
would map raster values 0 too 100 to the first 5 colormap va

[2019-01-23 13:23] mrpgraae commented on #126
This could be handy for data that follows a logarithmic distribution, for example.

[2019-01-23 21:17] j08lue commented on #126
Isn't it quite complex to define such a piece-wise linear colormap? Especially with the three parameters to specify?

Maybe better to support some named non-linear scalings like `log`, `logn`, `symlog` (symmetric log scale around zero), ...

And/or go for the discrete bounds notation like [matplotlib has it](https://matplotlib.org/tutorials/colors/colormapnorms.html#discrete-bounds), where you jus

[2019-01-24 03:31] dionhaefner commented on #126
Really don't like it. Why not just write log(x) to your raster?

[2019-01-24 08:01] mrpgraae commented on #126
That was also my suggested solution, but wanted to hear you guys opinion on this, before dismissing it entirely.

This is also a possibility, but I agree that we should keep it simple and as @dionhaefner says, the simple solution would be to just scale the raster.

[2019-01-24 09:14] j08lue commented on #126
I sometimes (with offline plotting) need a legend to show the original (physical) values, while the color scale should be logarithmic. Does not happen too often, though.

Was there a concrete use case here, @mrpgraae?

[2019-01-24 10:09] mrpgraae commented on #126
There is also the (minor) inconvenience of having to duplicate the data, if we need it for other things, such as the time-series / value extraction tool we have been talking about.

[2019-01-24 13:03] dionhaefner commented on #126
If we were to do something like this I'd rather introduce general nonlinear color transformations (#23) with an additional option to transform to log space.

Another possibility if you absolutely need this would be to introduce an interpolated explicit colormap that takes the same input as explicit but linearly interpolates between given colors (just as matplotlib does). Maybe this is what @j08lue

[2019-01-26 15:03] dionhaefner commented on #20
Basic functionality shouldn't be too hard, the real challenge is figuring out which operations to support, and how to pass them in the API. Happy for any ideas.

[2019-01-26 15:05] dionhaefner commented on #123
pytest-benchmark released version 3.2.2 that shouldn't have this problem. Would you like to test it?

[2019-01-26 16:41] pierotofy commented on #20
Perhaps a subset of QGIS expressions could be a good list:

[code]

Then support for common math functions such as `cos`, `sin`, `acos`, `tan`, `sqrt`, etc.

https://docs.qgis.org/2.8/en/docs/user_manual/working_with_raster/raster_calculator.html

I perhaps a new endpoint such as:

```/calc/{keys}/{expression}/{tile_z}/{tile_x}/{tile_y}.png```

Or perhaps even:

Where expression is a URL-encoded s

[2019-01-27 08:32] j08lue commented on #20
Thanks for pursuing this, @pierotofy. I think band math support would be a great addition. A few design questions:

1. Should `/calc` (or what we call it) always result in a single band or can you construct RGB (perhaps with 3 expressions)? -- I'd say RGB should be possible
2. Should an expression be a `&parameter` or a [`/<variable_section>`](http://flask.pocoo.org/docs/1.0/quickstart/#variable-r

[2019-01-27 08:33] #123 closed

[2019-01-27 14:31] dionhaefner commented on #20
We could support some functions that behave like NumPy ufuncs. The functionality you propose is `np.where`: `where(x > 50, 5, 10)`. I would be fine having `where` as a special function in the expressions, and it would be easy to implement since it's already in NumPy.

[2019-01-27 16:18] pierotofy commented on #20
That would work too. :+1:

[2019-01-28 09:59] dionhaefner commented on #20
- RGB: maybe, let's see how singleband expressions turn out first
- `v1`, `v2`: I proposed this to prevent code injection and to prevent naming clashes (what happens if `max` is a key value?)

[2019-01-28 14:16] dionhaefner commented on #20
That was fun, so I went ahead and implemented it. The functionality is done, but it needs more testing and documentation. Would be cool if someone could test it a little!

[2019-01-28 20:03] dionhaefner commented on #126
This is going to be possible with #128. If you do

[code]

you'll get the layer log-scaled in the interval `(1, 100000)`. Corresponding colorbar:

[code]

[2019-01-28 22:49] mrpgraae commented on #20
Cool, I guess this i a generalization of what we had in mind for #126. I was imagining something more simple, like choose from some pre-defined functions like log10, exp, square and so on, but this is of course much more powerful and I think the API is clean, at least for the singleband case.

I am worried about code injection. Allowing the user to execute arbitrary (not quite I know) code server-

[2019-01-28 23:39] dionhaefner commented on #20
I am confident this is safe; I literally only whitelisted the supported operations and nothing else. But it does feel a bit scary, so if you'd like to reimplement that piece in pyparsing I would be ok with that.

[2019-01-28 23:50] dionhaefner commented on #20
A somewhat hacky alternative could be to evaluate through numexpr if it's not too heavyweight.

[2019-01-29 09:13] mrpgraae commented on #20
Looking at the code I also think that it's safe as it is. It's just that things like this are notoriously hard to get right, future changes in API's could for example suddenly make it unsafe. I guess pyparsing would make it safer, by allowing us to be more explicit about what kind of expression we will allow?

Also another thing. I guess this is a pretty efficient vector for DoS attacks. Like if s

[2019-01-29 10:03] dionhaefner commented on #20
I planned to add a timeout for the expression to prevent DOS attacks.

Using pyparsing would mean we write our own parser instead of relying on `eval`, so that would be as safe as it gets (same goes for `numexpr`).

[2019-01-29 10:33] mrpgraae commented on #20
Great!

Cool. I think that would be a good idea to use then. I see quite a lot of complaints about pyparsing being slow, but I guess that probably depends a lot on what is being parsed. I'll do some experiments when I get the chance, to see how it compares to eval and numexpr and if it's not too bad I'll implement this with pyparsing, otherwise I'll take a look at numexpr.

For now, I think it's o

[2019-01-29 10:47] dionhaefner commented on #20
Relevant example from `pyparsing`:

https://github.com/pyparsing/pyparsing/blob/master/examples/fourFn.py

Needs some work to adapt to multi-argument functions though. I wouldn't worry about speed, we are just parsing one line anyway.

[2019-01-29 11:03] j08lue commented on #20
Since we are evaluating numerical expressions, maybe `numexpr` is the right choice, even though it adds a dependency. Seems like a `pyparsing` solution would require like 300 lines - numexpr probably 2...

[2019-01-29 11:31] mrpgraae commented on #21
This has become relevant again in GRAS.
The way I see it, there are 2 directions we can go:

### External to TC
The user can set up a web proxy for self-hosted deployments that takes care of authentication. For Lambda, they can use this https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-use-lambda-authorizer.html

pros:
- Probably very secure
- External to TC, so not maintaine

[2019-01-29 11:41] mrpgraae commented on #20
pyparsing also adds a depenency and @dionhaefner's pyparsing example is less than 100 lines.
But yes numexpr looks like the simpler choice. Curious as to why you consider it hacky @dionhaefner?

[2019-01-29 12:59] vlro commented on #20
Assuming the data is structured the same way as in your example, @dionhaefner:

[code]

As it stands, `/compute/` can only use the last key as a parameter, meaning that in this case calculations can only be done on bands from the same acquisition date. This works well for computing indices, but at times we want to do other calculations, e.g. change detection. How can we add this functionality?

Wo

[2019-01-29 14:52] dionhaefner commented on #21
I don't think the Flask authentication works across different workers.

More cons to the internal method:
- We would need mandatory SSL to prevent credentials from being sniffed
- Needs an additional data storage for credentials and / or session tokens

[2019-01-29 15:07] dionhaefner commented on #20
@mrpgraae `numexpr` feels hacky because it is a high-performance tool, that just so happens to allow safe execution of NumPy-like array expression strings. It also feels heavyweight, and we do have size constraints for Lambda. But if it works and is not too big I'd prefer it over `pyparsing`.

@j08blue I don't think asteval is any safer than what I wrote.

@vlro Part of the point of TC is that you

[2019-01-29 16:20] mrpgraae commented on #21
Good point. The token would have to be stored in a db instead.

Yes, https would be mandatory, but the same is true of the external method.

That being said, I am also (i suspect you are as well) leaning heavily towards to the external solution.
We can maybe use some Zappa magic to make it easier for users to use authentication on Lambda.

[2019-01-30 08:20] vlro commented on #20
At the moment, even without the `compute` implementation we can achieve the same display functionality as the other alternatives, i.e. display pre-computed bands or indices through `singleband` and compute custom band combinations for RGB/False colour/etc with `rgb`. While I agree, @dionhaefner that the `compute` functionality might take away from the simplicity of terracotta (process offline and

[2019-01-30 12:17] dionhaefner commented on #20
As a matter of fact, `asteval` was a lot more secure than what I did, so I implemented something similar. Instead of using `eval` we now walk the AST and execute it recursively, explicitly whitelisting names and operators. That should be as safe as it gets, without new dependencies.

I understand why arbitrary keys are useful, but I think it compromises the API (some endpoints expect keys in the p

[2019-01-30 12:43] mrpgraae commented on #20
Okay, I actually thought `numexpr` was just a handy tool for converting string expressions into Numpy operations, didn't know it was that complex. From their own docs:

Sounds like overkill for our use-case.

@vlro TC's main edge over existing alternatives _is_ it's simplicity. It's meant to be a tool for serving and visualizing data. Adding features that do all kinds of cool, but complicated, thi

[2019-01-30 12:55] mrpgraae commented on #20
Cool. What I didn't like about the other solution, was that it relied on passing sanitized user input to `eval`. Even if it was probably safe, I've seen so many hacks that break this kind of thing, by somehow bypassing the sanitation. This new method seems a lot safer.

[2019-01-30 13:12] dionhaefner commented on #20
Actually I had an idea a while ago to introduce optional plugins to Terracotta. Things like the fancy on-the-fly computations or even timeseries queries could be contained in separate modules, so power users are free to use these features, while new users aren't as overwhelmed.

[2019-01-30 14:47] dionhaefner commented on #126
I think this is superseded for now by #20.

[2019-02-01 08:51] mrpgraae commented on #20
Could be good, if we can make a nice enough plugin interface. Are you thinking in the style of pytest? So there could be a `terracotta-compute` package and a `terracotta-stats` package for example, each possibly having their own section in the config and maybe CLI options.

[2019-02-01 09:58] dionhaefner commented on #20
Yes. We could use the same handler as pytest, [pluggy](https://github.com/pytest-dev/pluggy).

[2019-03-01 17:40] glw opened #129 "terracotta docker"
Hi

Just thought I would let you know, I have put the latest version of terracotta (no aws cli) in a docker image. You can get it here:
https://hub.docker.com/r/garretw/terracotta
or
https://github.com/glw/terracotta_cog_docker

It's currently using docker's python 3.6 image, so it a bit large on file size. In the future Ill switch images to alpine-python, so that should save a significant amount

[2019-03-01 19:47] dionhaefner commented on #129
Great initiative, thanks!

Is there any particular use case that made you want to use Terracotta from inside Docker?

[2019-03-05 16:10] glw commented on #129
Nothing too fancy yet, Docker just helps us install things easier without as much worry. But this will also be the start of our drone imagery viewer - which Im excited about :)

[2019-03-07 12:15] vlro opened #130 "Zappa Deployment Issue awscli/botocore"
Zappa deployment fails with the error:
[code]
`zappa tail` returns the following:

[code]
This is what the environment looks like:
[code]

When awscli, boto3, botocore, s3 transfer are downgraded the deployment works. The environment for a **working** deployment looks like:

[code]

[2019-03-07 12:22] dionhaefner commented on #130
That's odd. The boto toolchain is preinstalled on Lambda, so it should be excluded during deployment:

https://github.com/DHI-GRAS/terracotta/blob/26ef2f61bd8306fd8fecd27288df6426a6751534/zappa_settings.toml.in#L8-L17

Apparently this doesn't work for some reason. Maybe `s3transfer` needs to be excluded, too - it's the first time I hear of this package.

[2019-03-07 12:41] vlro commented on #130
Yup, that did it. I added "s3transfer*" to the exclude list and deployment worked fine. Thanks @dionhaefner

Aside from this, perhaps it could also be worth pinning `future`, `jmespath` and `python-dateutil` in zappa_requirements to avoid this warning:

``
zappa 0.47.1 has requirement future==0.16.0, but you'll have future 0.17.1 which is incompatible.
zappa 0.47.1 has requirement jmespath==0.9.3,

[2019-03-07 12:43] j08lue commented on #130
Yes, the problem here is that a recent `s3transfer` depends on a newer version of `botocore`. If you only push one of them to Lambda, the versions are not compatible. @vlro and I were fighting with that, too, yesterday.

[2019-03-07 13:51] #130 closed

[2019-03-14 22:40] mccarthyryanc commented on #10
I just learned about terracotta (really awesome tool!) and this feature would be great. I frequently have a collection of rasters that are tiled, and would like to serve them as a single layer without merging them into a gigantic single GeoTiff.

[2019-03-15 08:07] j08lue commented on #10
Maybe the best solution to larger-than-GeoTIFF layers is to store the data not in GeoTIFF tiles (e.g. Sentinel 2 tiles) but in even smaller chunks (say 256x256) in a fast database, like [GEE saeems to be doing](https://www.sciencedirect.com/science/article/pii/S0034425717302900). But that might be beyond the scope of Terracotta - to write a driver for that...

[2019-03-15 10:50] dionhaefner commented on #10
I've fallen out of love with seamless layer support because there are so many micro-decisions to make for relatively little gain (mainly how to handle overlap). But we could look into supporting GDAL-style VRTs instead, and offload all the heavy lifting to GDAL / rasterio. That way we'd hopefully only need very little additional driver code.

[2019-03-15 10:52] dionhaefner commented on #20
Merged for now.

[2019-03-15 10:52] #20 closed

[2019-03-15 12:28] j08lue commented on #10
If that is the main concern, we could require that there is no overlap (or undefined behavior in such case). But there are probably more?

VRTs over S3 files? - But why not? As far as I know, `rasterio` reads VRTs fine and might even be able to create them (the XML representation) by now.

[2019-03-15 15:16] dionhaefner commented on #10
I'm mostly concerned about numerical roundoff and off-by-one errors. I'd expect it to take a lot of fiddling to get right.

[2019-03-15 15:18] mccarthyryanc commented on #10
There is a [vrt module](https://rasterio.readthedocs.io/en/stable/api/rasterio.vrt.html) in rasterio, for in-memory vrt.

[2019-03-15 15:58] dionhaefner commented on #10
Yes, we use those extensively. I was thinking of the GDAL VRTs in XML form that allow you to combine datasets transparently ahead of time.

[2019-03-15 16:18] mccarthyryanc commented on #10
@dionhaefner , ah I see. I've created VRT's with `gdalbuildvrt` and specified rasters on S3 making sure `relativeToVRT="0"` is set and that the source filename includes `/vsis3/...`. Do you think that would work with serving:
[code]

[2019-03-15 17:33] dionhaefner commented on #10
It might actually work by accident if `rasterio` exposes the VRT exactly like a regular raster file. Could you try and let us know?

[2019-03-15 22:59] mccarthyryanc commented on #10
Okay, gave it a shot, but it didn't work. Here was my setup. I already had rasters on S3 that were optimized via `terracotta optimize-rasters`.

Build list to build vrt:
[code]

Build the VRT:
[code]

Serve the vrt (from EC2 instance):
[code]

Connect from local machine:
[code]

At this point I get the preview app open within a browser, and I can see the dataset listed. When I put the cursor over

[2019-03-16 07:36] j08lue commented on #10
@mccarthyryanc can you post here the VRT file you made there?

[2019-03-16 11:24] dionhaefner commented on #10
That is very reassuring. If the preview image works, tile retrieval should work, too. And correct limits and footprint means the metadata computation works, too. I'm just a bit confused about all the `&stretch_range=[0,1]` in your queries. Could be the reason why you don't see anything.

[2019-03-18 22:06] mccarthyryanc commented on #10
@j08lue I can't provide the exact VRT, contains private info. But here is an example VRT that is pretty much the same. It was built with plain `gdalbuildvrt`:
[code]

[2019-03-18 22:24] mccarthyryanc commented on #10
@dionhaefner and @j08lue, something strange happened and it actually did work... However, it took probably 30min before the tiles were rendered. I tried to retest today, saw that nothing was rendering and then accidentally left the preview app open on a browser and the server running. After something like 30min tiles started popping up!

So, maybe this is something to do with running terracotta se

[2019-03-19 09:48] dionhaefner commented on #10
Your log even says that:

That's certainly bad news; maybe there is something we can do to optimize the VRT file, otherwise we might have to take it up with Rasterio / GDAL people.

[2019-03-19 14:45] mccarthyryanc commented on #10
@dionhaefner , it loaded faster than the tiles on the map, but still slower than serving a large geotiff.

[2019-03-19 18:44] j08lue commented on #10
From the [GDAL docs](https://www.gdal.org/gdal_vrttut.html#gdal_vrttut_overviews):

But there seem to be ways to build overviews for VRTs (`.vrt.ovr`). Don't know whether you can get to the full COG specs, though.

[2019-03-19 18:50] j08lue commented on #10
Maybe there is some neat way to create a scale-dependent combining internal (GeoTIFF) overviews and VRT-level ones, like [mentioned here](https://gis.stackexchange.com/a/148343):

Black GDAL magic...

[2019-03-22 08:40] panakouris opened #131 "DistributionNotFound error"
In linux, after creating a conda environment and installing terracotta succesfully, I get the following error:

[code]
After installing PyYAML it works fine.
The error comes with either Python 3.6 or 3.7

[2019-03-22 09:21] dionhaefner commented on #131
How did you set up the environment? Via the environment file or manually?

[2019-03-22 09:28] panakouris commented on #131
Via the environment file

[2019-03-22 10:18] dionhaefner commented on #131
Guess that's a missing dependency in some conda recipe then.

[2019-03-22 10:20] #131 closed

[2019-03-25 14:27] jankovicgd opened #132 "ModuleNotFoundError: No module named 'apispec.ext.flask'"
I have an modules issue running terracotta. I have tried installing with pip and setuptools. Running `terracotta serve -r` which causes following stack trace:

[code]

Output of `pip freeze`:
[code]

Version: 0.5.0
Running on: Ubuntu 16.04.5 LTS

[2019-03-25 14:39] dionhaefner commented on #132
This should be fixed in current master. Alternatively you can downgrade to `apispec<1.0`.

[2019-03-25 14:44] jankovicgd commented on #132
Indeed it works. Thanks for the fast reply :)

[2019-03-25 14:44] #132 closed

[2019-03-25 14:48] dionhaefner commented on #132
Happy to help! Let us know if you run into anything else.

[2019-03-25 15:34] dionhaefner commented on #10
I took the discussion here: https://rasterio.groups.io/g/main/topic/30751150#167

If everything works as it should, the performance issues should only be present for low zoom levels, for which we don't have overviews.

[2019-03-28 11:55] j08lue opened #134 "Keep warm"
Zappa by default [keeps the function warm](https://github.com/Miserlou/Zappa#keeping-the-server-warm), it seems: https://github.com/Miserlou/Zappa/blob/3ccf7490a8d8b8fa74a61ee39bf44234f3567739/zappa/cli.py#L1169

But we are still seeing long cold starts. Why could that be?

[2019-03-28 11:57] dionhaefner commented on #134
Because it only keeps one instance warm?

[2019-03-28 12:00] dionhaefner commented on #134
Since it's one of the fundamental downsides to Lambda there's not much we can do for low-traffic services. Maybe display a "please stand by" banner in the client.

[2019-03-28 12:02] mrpgraae commented on #134
If it's low traffic, then it shouldn't be an issue that it only keeps one instance warm.
Relevant issue here: https://github.com/Miserlou/Zappa/issues/851

[2019-03-28 12:04] mrpgraae commented on #134
Wrote my previous comment before you edit @dionhaefner, I see the issue there.

[2019-03-28 12:07] mrpgraae commented on #134
This guy has a custom keep-alive script that he uses to keep 10 containers warm https://www.zrzka.dev/2016/10/30/aws-journey-api-gateway-lambda-vpc-performance.html

[2019-03-28 12:08] dionhaefner commented on #134
If you keep too many containers warm it just becomes a more expensive version of EC2. Don't know how much there's to gain.

[2019-03-28 12:13] mrpgraae commented on #134
I think it would have to be quite a lot of containers we would be keeping warm, for it to be more expensive than EC2? According to the blog post i just linked, we only have to fire `n` requests about every 15 minutes, where `n` is the number of containers to keep alive. Remember that the first million requests per month are free and that we are talking about low-traffic services here.

[2019-03-28 12:15] mrpgraae commented on #134
For 10 containers, we are talking ~30000 requests per month

[2019-03-28 12:19] mrpgraae commented on #134
But I don't think that this should be a Terracotta feature? Seems more like something you would set up on the side. Maybe we can mention it in the docs.

[2019-03-28 12:25] dionhaefner commented on #134
Yep. It would be cool if you could do some testing with that.

[2019-03-28 12:58] mrpgraae commented on #134
Will do.

[2019-03-28 14:10] j08lue commented on #134
I thought once there was one warm container, spinning up more was comparatively cheap because they just clone the existing one (rather than cold-starting new instances from scratch). So all you would need is a seed. But maybe cloning is still too expensive (we are talking many concurrent requests for TC) or my understanding was wrong.

[2019-03-28 15:16] dionhaefner commented on #134
If there is such as thing as cloning (and this is the first time I hear about it) it's not effective enough 😕

[2019-03-28 15:28] j08lue commented on #134
A Microsoft guy talked about that the other day. Aparently Azure Functions do that. I took it for general practice.

[2019-04-01 11:36] mrpgraae commented on #134
That was also how I understood it, that once the first container was running, they basically just did a memcpy to spawn the others.

[2019-04-03 00:03] mccarthyryanc opened #135 "Mutli-dataset Selection in Terracotta connect"
In the Terracotta Preview App, `terracotta connect`, you can click and select individual datasets in the table search results. Would it be possible to add `ctrl+click` and `shift+click` support in order to view multiple datasets at the same time?

[2019-04-03 06:23] mrpgraae commented on #135
That is certainly possible and would be a nice feature. It should also only require a change to the preview app itself. Each dataset would just be another leaflet layer.

[2019-04-03 08:51] dionhaefner commented on #135
As @mrpgraae mentions, this is not a fundamental issue at all. However, this would require quite substantial changes to the preview app:

- Contrast sliders would have to be remodeled (or should the same contrast apply to all layers?)
- Mechanism to move layers up / down the stack?
- RGB and singleband not mutually exclusive anymore?
- Keep layers active across searches

I think in this case we wo

[2019-04-03 09:29] mrpgraae opened #136 "Problems with new tile cache compression"
I tried using tc to do some data exploration, by doing `terracotta serve -r {}_{some}_{key}.tif` and then `terracotta connect localhost:5000` as described in the docs. Whenever the app requests a tile, I see this stack trace in the server:
[code]

[2019-04-03 09:38] mrpgraae commented on #136
I also see this one right after:
[code]

[2019-04-03 09:46] mrpgraae commented on #136
@panakouris could not reproduce and advised to update cachetools, which worked, so this is fixed by a version constraint. Closing.

[2019-04-03 09:46] #136 closed

[2019-04-03 09:50] mrpgraae commented on #135
Maybe as a first go it would be alright to have the same contrast applied to all layers. If you want to compare values from different layers, this is probably what you want anyways.

and

Would be nice, but maybe not strictly necessary for a first implementation.

This is worse. Any ideas on what to do here would be appreciated.

[2019-04-03 09:50] dionhaefner commented on #136
... could you please add the version constraint, then? :)

[2019-04-03 10:14] #116 closed

[2019-04-03 11:05] panakouris commented on #136
I added the version constraint

[2019-04-03 13:12] dionhaefner opened #138 "Use rio-cogeo internally"
Currently, we have our own functions for optimizing and validating COG, which are more or less copied from `rio-cogeo`.

I did this because `rio-cogeo` did not feel quite mature enough at the time, but I think it might be time to re-evaluate.

[2019-04-03 15:15] vincentsarago commented on #138
👋 @dionhaefner I'll be more than happy to see this happening, feel free to give any feedback on the current implementation.
I was planning to do the 1.0.0 release today but I don't think I'll have time and we might ship https://github.com/cogeotiff/rio-cogeo/pull/62 in 1.0.0

The only big difference is that rio-cogeo force everything to be done in-memory while you set up something to handle it dif

[2019-04-03 15:40] dionhaefner commented on #138
Sure, we'd be happy to work with you to make this happen!

I think out-of-core operation will be a hard requirement for us as we often deal with enormous rasters. When we have some capacities we could look into merging that into `rio-cogeo`?

[2019-04-03 16:24] mccarthyryanc commented on #135
@mrpgraae your suggestions would fit my use case! I have a simple dataset: non-overlapping layers, same datatype across layer, single band. Keeping the layers active across searches would be nice, but not critical for an initial implementation.

@dionhaefner My javascript fu is also limited, but I will take a look and see if I can get something working.

[2019-04-04 07:26] mrpgraae commented on #135
Sounds good @mccarthyryanc! I suffer from the same JS limitations as @dionhaefner, but I'll gladly help and give advice if needed.

[2019-04-04 08:04] mrpgraae commented on #138
Out-of-core operation is indeed a hard requirement for us. But yes, let's see if we can get that into `rio-cogeo` and use that from then on, that would be great for everyone.

Don't know how your time is looking @dionhaefner, but we might have some capacity for this here in DHI-GRAS within the next 3-4 weeks or so.

[2019-04-04 08:06] dionhaefner commented on #138
That's great, since my bandwidth is going to be limited for a while :)

[2019-04-10 09:43] vlro opened #139 "Getting a 500 when using the newest version of Rasterio (1.0.22)"
When deploying a Lambda function through Zappa, using the newest version of Rasterio (1.0.22), we get a 500 for some tiles, while others load fine.

When reverting back to Rasterio 1.0.13 everything works fine.

 `zappa tail` gives the following:

[code]

[2019-04-10 10:07] dionhaefner commented on #139
I think to make a proper bug report upstream we will need the offending raster, preferably in a public S3 bucket.

[2019-04-10 10:36] mrpgraae commented on #139
Yes. I think @vlro is trying to find out the exact Rasterio version that introduced this error, so we can make a nicer upstream report.

[2019-04-10 11:19] dionhaefner commented on #139
Tests are still passing, so this is probably going to be something weird...

[2019-04-10 11:21] mrpgraae commented on #139
Uh oh... 😄

[2019-04-10 13:26] vlro commented on #139
@mrpgraae Looks like the error was introduced in 1.0.15, has been broken since. Works fine with 1.0.13 and 1.0.14

[2019-04-10 13:30] vlro commented on #139
Rest of the environment looks like:

[code]

`Python 3.6.7`

[2019-04-10 14:34] dionhaefner commented on #139
Almost nothing changed between 1.0.14 and 1.0.15:

https://github.com/mapbox/rasterio/compare/1.0.14..1.0.15

I think we'll definitely need access to the offending raster to investigate what's going on.

[2019-04-10 17:49] j08lue commented on #139
Maybe we can get `rasterio` in TC to log the window it is requesting for the respective tile, so we can reproduce the exact `read` call for a conflicting XYZ tile. Then we can also try this offline on the GeoTIFF on disk, rather than S3, and see if it also occurs there.

[2019-04-10 19:31] dionhaefner commented on #139
We already know which tile is failing:

[code]

You should try and serve it locally, but it seems to me like it is related to GDAL's S3 driver.

[2019-04-10 20:39] j08lue commented on #139
Speaking of GDAL - could the different versions of `rasterio` be bundled with different versions of `gdal` ([`rasterio.__gdal_version__`](https://github.com/mapbox/rasterio/blob/08d6634212ab131ca2a2691054108d81caa86a09/rasterio/__init__.py#L46))?

[2019-04-10 20:55] dionhaefner commented on #139
They definitely could. It's also my best guess for where this comes from all of a sudden.

[2019-04-10 21:55] vincentsarago commented on #139
@j08lue do you install rasterio from wheels ?

If yes, gdal version for rasterio >= 1 is build with https://github.com/sgillies/rasterio-wheels and GDAL shipped with it is 2.4.0 (since January 22nd - rasterio ~1.14.0)

[2019-04-10 22:12] mccarthyryanc commented on #10
@dionhaefner, I'm not sure I follow. Based on the groups.io post the workflow is:
1. Create COGs for individual rasters via `terracotta optimize-rasters`
2. Create VRT for rasters via `gdalbuildvrt`
3. Create external overviews for VRT via `gdaladdo -ro flie.vrt OVERVIEWLEVELS`

Does step 3 require the same overiew levels as provided during the COG creation step?

[2019-04-11 06:51] mrpgraae commented on #139
@vlro could you put the raster in a public S3 bucket and paste the url here?

[2019-04-11 07:03] mrpgraae commented on #139
@vincentsarago We do install from wheels. From @vlro's findings, it seems to work with rasterio 1.0.14 but not 1.0.15, so it would have made more sense if the GDAL version changed in 1.0.15.

[2019-04-11 09:12] vlro commented on #139
1.0.14 and later is shipped with GDAL 2.4.0, 1.0.13 is shipped with GDAL 2.3.2
I'll do a bit more testing today and upload the raster to a public bucket.

[2019-04-11 13:02] vlro commented on #139
I've uploaded the raster here:
https://s3.eu-central-1.amazonaws.com/tc-issues-public/rasters/tc-issue-139.tif

[2019-04-13 22:37] dionhaefner opened #140 "Preview app does not support datasets where min == max"
Activating the layer does not work. I get

[code]

in the JS console. Seems like we will have to catch this case...

[2019-04-13 23:01] dionhaefner commented on #139
Could not reproduce this on my machine with rasterio 1.0.22 and GDAL 2.4.0.

Here's a database file with the test raster ingested if someone else wants to give it a shot:

[issue139.zip](https://github.com/DHI-GRAS/terracotta/files/3076810/issue139.zip)

[2019-04-13 23:09] dionhaefner commented on #10
Sorry, haven't pursued this any further. I think you got it right, just two points:

- Terracotta tells GDAL to disregard external auxiliary files, so you will have to disable that to see any effect of the VRT level overviews. Replacing `_RIO_ENV_KEYS` here with an empty dict should do the trick:

   https://github.com/DHI-GRAS/terracotta/blob/b7d2fce976895586ccfe6fa545cf2402903247a2/terracotta/dr

[2019-04-16 11:02] dionhaefner commented on #138
@vincentsarago Could you run me through what you are hoping to achieve with the web optimization (cogeotiff/rio-cogeo#62)? I think it looks very interesting, but I'm not sure where the actual advantages are / what your motivation is. Are you hoping for better performance (e.g. for a tool like Terracotta), or do you primarily want to avoid reprojection artifacts?

[2019-04-16 12:13] vincentsarago commented on #138
sure @dionhaefner The idea is to have a COG aligned on the web mercator grid and zoom levels corresponding to overview levels. The main purpose is to reduce the number of internal tiles fetched to the strict minimum.

Those will in fact happen when creating the COG.

TBH I'm not really planning to use this options but I can see how it could be a nice feature when dealing with mosaics or global dat

[2019-04-16 13:23] dionhaefner commented on #138
This could be amazing for Terracotta. We have had something similar to this in the past, but I couldn't get it to work right when retrieving the tiles because boundless windowed reads didn't work properly with rasterio (so we had to revert to using a VRT). Would be interesting to see whether it makes a big difference performance-wise.

[2019-04-30 18:23] matse004 commented on #134
see also an attempt here #1790

[2019-05-06 23:45] mccarthyryanc commented on #10
@dionhaefner sorry for the long wait, but I finally found some time to test this out! **TL;DR**: It works until I zoom in too far on the map.

I created a new branch and conda env to keep things isolated:

[code]

I had a collection of 873 tiles that I added to a text file `vrt_filelist`, eg:
[code]

Built the VRT and overviews:
[code]
Serve and connect like usual:
[code]

At this point I can pan

[2019-05-07 06:13] dionhaefner commented on #10
Thanks for reporting back!

[code]

Does this file exist / contain a valid GTiff?

[2019-05-07 15:44] mccarthyryanc commented on #10
Yep, file exists and is a valid GeoTiff.

[2019-05-08 11:06] dionhaefner commented on #10
Very odd, the error message reads almost like https://github.com/DHI-GRAS/terracotta/issues/139. If we could only get hold of a small example that demonstrates this bug...

[2019-05-10 16:16] mccarthyryanc commented on #10
I've tried recreating this issue with a small set of rasters that I can share, but haven't had any luck.

@dionhaefner in your original post you mention another workaround: adding all rasters as separate layers and displaying them on top of eachother. Do you have any advice on trying that? I'm assuming this would be part of any viewing app. For example, adding a ton of XYZ TileLayers to a leaftlet

[2019-05-11 10:15] dionhaefner commented on #10
Thanks for trying! I think I might ask someone from mapbox to have a look at this, maybe they have an idea what's going wrong.

Yes, exactly, you would do that in the client. But it does become infeasible at some point (I wouldn't do it for hundreds of layers), because then Terracotta gets bombarded for requests for tiles that are out of range. I think the only fully supported solution is to creat

[2019-05-27 14:10] vincentsarago commented on #10
👋 Because I've never been able to work with VRT (and that you mostly need to create external overviews) I've been working on a simple (but fast) solution to get mosaic tiles from multiple COGs, the result is explained in https://medium.com/devseed/cog-talk-part-2-mosaics-bbbf474e66df

The general idea is to create a `json` files linking the COGs together (the gzip .json file should be really small

[2019-05-28 10:22] dionhaefner commented on #10
Do I understand that correctly that you don't have overviews for the entire mosaic? So if I zoom out rerally far it touches all of the COGs?

[2019-05-28 13:59] vincentsarago commented on #10
@dionhaefner yes you are correct, we don't generate overviews for the `whole` mosaic but use overviews from the COGs directly. Has the blog describe, let's say you have a COG with native resolution ~zoom 12 and 8 levels of overviews, the min zoom could be considered at zoom 4 thus the mosaic will start rendering at zoom 4.

This is not perfect but still better than having to pre-generate static fi

[2019-06-07 20:03] dionhaefner opened #141 "Enable shared datasets"
See https://github.com/mapbox/rasterio/issues/1686. Requires an up-to-date version of rasterio.

This prevents problems when re-using the same raster in `rgb` calls, as in

[code]

which is a niche use-case, but not prohibited.

[2019-06-12 13:34] j08lue opened #142 "zappa_settings time to live should be integer"
`zappa` did not complain when I deployed. But on `zappa update production`, I got:

[code]

Setting `cache_cluster_ttl` to 3600 fixed it.

[2019-06-12 13:50] #142 closed

[2019-06-18 10:18] bbb1991 opened #144 "Error in running with latest versions marshmallow"
Hello!
When I trying to run with latest version marshmallow (that installs by default, when executing command `pip install terracotta`), command fails with exception:
[code]

[code]
Downgrading marshmallow to `3.0.0b12` solves this problem. Maybe works with higher vesrsions, but not tested it.

[2019-06-18 11:49] dionhaefner commented on #144
Thank you for the detailed bug report. Confirmed, working on a fix.

[2019-06-18 12:06] #144 closed

[2019-06-18 12:06] dionhaefner commented on #144
Should be fixed now, please report back if you run into any other problems.

[2019-06-23 11:06] bradh opened #146 "Docs problem with introduction"
https://terracotta-python.readthedocs.io/en/latest/index.html says:

[code]

I found it not-so-trivial.

[code]

More generally, I couldn't find a way to serve up just one (or any number) of true-colour sentinel images I had.

[code]

[2019-06-23 16:48] dionhaefner commented on #146
While I am thankful that you reported this usability issue, please cut out the snark. Remember that this, as most open-source projects, is driven by people volunteering to put in more work than they are obligated to.

That being said, the issue here is two-fold:

- A bug in the documentation that I will fix ASAP - the flag is called `-r`, not `-p`.
- A misconception on your side how the raster pat

[2019-06-23 20:03] bradh commented on #146
My sincere apologies on the way I expressed it - it was meant to be light-hearted, not snarky. I am truly sorry that is how it came across. I have experienced the effect that "entitled" users have on the morale of an open source project, and would mich to be part of the "thanks for all your work" team rather than the "why doesn't your project work for my niche case" detractors. So thanks for the q

[2019-06-23 20:03] #146 closed

[2019-06-23 20:50] dionhaefner commented on #146
No worries - as you mention it’s kind of a hot topic in the OSS community at the moment, so I might have been too sensitive :)

Looking forward to your PR!

[2019-06-24 02:09] bradh opened #148 "Add "quick check" option"
Sometimes its nice to quickly check what a bunch of files looks like.

As a special case, it might be useful to have `-r {}.tif` match anything ending with `.tif`.

In terms of implementation, this could look something like (ignoring tests and bugs):
[code]

So it all just gets indexed as "filename".

Is this something that could be acceptable (assuming tests, etc)?

[2019-07-01 09:02] j08lue opened #149 "Fix get_driver typing issue"
The reason why current builds like https://travis-ci.com/DHI-GRAS/terracotta/builds/117457626 fail:

There is a typing error: `get_driver` accepts `Union[str, Path]` and passes that on to `DriverClass.__init__`, which is fine for `SQLiteDriver` but not for `MySQLDriver`, which only accepts `str`.

[2019-07-01 09:04] j08lue commented on #149
I propose we just have all drivers accept `Union[str, Path]` and then they can convert `Path` to `str` internally as a workaround. Not pretty, since `MySQLDriver` will fail e.g. with a Windows `Path`, but it would work.

[2019-07-01 09:12] dionhaefner commented on #149
Let’s change the type signature to `str`. People can still pass paths, which will work for the SQLite driver, but the officially supported way is string anyway.

[2019-07-01 09:24] dionhaefner commented on #149
The alternative would be to have an `isinstance` check in `get_driver` to make sure no `Path` is passed to a MySQL driver. Whichever you like better.

[2019-07-01 11:19] mrpgraae commented on #149
IMO it would be cleanest to just use `str` here.

[2019-07-02 08:55] mrpgraae commented on #139
Small update on this. I'm seeing quite a few changes to `/vsiscurl/` and `/vsis3/` in the [GDAL 2.4.0 changelog](https://trac.osgeo.org/gdal/wiki/Release/2.4.0-News#GDAL2.4.0-OverviewofChanges). I'm currently trying to build the Rasterio wheels with an older GDAL version to see if that fixes it.

[2019-07-02 11:07] j08lue commented on #149
You mean the signature of `get_driver`, right? OK with that, too.

[2019-07-02 13:03] mrpgraae commented on #139
@dionhaefner Did you ever manage to reproduce this?

[2019-07-02 13:32] dionhaefner commented on #149
Yes.

[2019-07-02 13:36] dionhaefner commented on #139
No. Could be anything at this point... Network issues of the workers, full disk, full memory. To properly investigate this we would need a hacked version of Terracotta that dumps some system diagnostics upon failure.

[2019-07-02 13:56] mrpgraae commented on #139
Okay. The reason I'm asking is that I wasn't able to reproduce it using the preview app (with the same lambda deployment as our front-end) 1 hour ago, despite trying for a long time. So I was about to say that I also couldn't reproduce it. But now it's bugging out like crazy again 🤷‍♂

[2019-07-02 15:12] mrpgraae commented on #139
This didn't work, `zappa tail` tells me that rasterio fails upon import, due to not being able to find `libgdal.so.20`, even though I built the wheel to include GDAL.

Usually Zappa downloads a manylinux wheel rather than using the Rasterio installed in the venv and I had to use some trickery to get around that, but it seems like it actually has to be a manylinux wheel to work 😄

[2019-07-03 07:48] mrpgraae commented on #139
Just did a quick check with `rasterio==1.0` which uses GDAL 2.2.4 and the issue is still there.

[2019-07-06 17:00] #149 closed

[2019-07-06 17:11] dionhaefner commented on #148
I am aware that the key abstraction is confusing for new users, and have tried to come up with a simpler way that doesn't hide all of the inherent complexity. I think your proposal is fine at its core, but I'm not too happy with changing semantics of the `{}` wildcard based on the number of keys in the pattern (compare `{}/{date}.tif` and `{}.tif`; in the first case the wildcard is not a key, in t

[2019-07-06 22:17] bradh commented on #148
I see your point about unintended consequences of a magic overload.

Maybe it would be better to try to handle this with an external tool / script (e.g. that takes a path and an extension and generates a suitable db, perhaps running the server).

[2019-07-19 07:18] danielgormly commented on #144
Hi I’m also receiving this issue (fresh install of Python 3.7, installed Terracotta using Pip)

[2019-07-19 16:53] mccarthyryanc commented on #10
@dionhaefner , do you think seamless layers will make it into terracotta? Or should I focus on cogeo-mosaic for this functionality?

[2019-07-21 09:15] dionhaefner commented on #144
The version on PyPI is not updated yet. In the meantime, you can install the current master of Terracotta (`pip install git+https://github.com/DHI-GRAS/terracotta.git`), or downgrade marshmallow (`pip install "marshmallow==3.0.0b12"`).

[2019-07-21 10:00] dionhaefner commented on #10
I am sort of waiting for an official solution from the GDAL / rasterio side. I don't think the use case is important enough to warrant significant feature creep in Terracotta. Up until that point, we will still require users to merge their datasets before serving.

By the way, what makes merging so inconvenient for you? It should be fairly insignificant compared to cloud-optimizing and other proce

[2019-09-06 12:53] ewsterrenburg commented on #79
Along the same lines, I'd be interested in elevation profiles (supply which raster should be used, geojson line and a sample interval). Would it be possible to make some kind of plugin architecture?

[2019-09-06 15:23] j08lue commented on #79
It might be easier for you to just make a separate function, not a plugin, that handles single-raster point extraction, since there is no information or functionality you really need from Terracotta or its database for this.

We could consider making an endpoint that returns the S3 object key or file path for a given set of keys. That would enable you to use Terracotta to keep track of your raster

[2019-09-06 16:22] ewsterrenburg commented on #79
@j08lue
Thanks for the quick reaction.

It makes sense and is more along the lines of what I was originally thinking (then came across terracotta looking for a solution to serve tiles for the layers to be plotted in the chart and started thinking out loud while being blinded by all goodies (api documentation, zappa etc) already in place :)

I can imagine a set of object keys or file paths for a ce

[2019-10-01 07:51] #129 closed

[2019-10-02 10:52] j08lue opened #151 "Consider using web-optimization"
From `rio-cogeo` as discussed here https://github.com/DHI-GRAS/terracotta/issues/138#issuecomment-483613662

[2019-10-02 11:50] dionhaefner commented on #151
This will only have a big benefit when using nearest neighbor interpolation. But it could be cool to have as a "lightning-fast" mode when performance is more important than quality.

[2019-10-02 13:36] dionhaefner opened #152 "Create sample image catalogue"
For testing, it would be awesome to have a separate repository with (pathological) test images, such as

- some different satellite images, in different formats (GTiff, COG, JP2) and projections
- an image at high latitudes (Greenland / Antarctica), both in the native projection and WGS84
- an image across the date line
- an artificial image with sharp edges to test interpolation.

This would make

[2019-10-02 14:08] vincentsarago commented on #151
FYI the new COG driver (GDAL>3.1) has a native support for that, might be worth investigating for long play.

[2019-10-02 14:09] vincentsarago commented on #152
👍 this would be great. In addition if we can add STAC items it could be almost perfect

[2019-10-03 07:14] j08lue commented on #152
Do you want to add them to this repo or have a separate one, like `terracotta-sample-data` or so to keep the clone size down?

[2019-10-03 07:52] j08lue commented on #26
I think the pro of having a fully OpenAPI compliant API weighs pretty heavily.

[2019-10-03 09:23] dionhaefner commented on #152
I’d say separate repo, possibly with LSF. Could you create a repo @j08lue? Doesn’t even need to be Terracotta branded. It could just be a collection of exmple rasters for everyone (we just need to ensure proper attribution of the data).

[2019-10-03 11:17] j08lue commented on #152
OK https://github.com/DHI-GRAS/sample-satellite-imagery

[2019-10-11 15:43] dionhaefner commented on #152
Closing this in favor of the new repository. We should really crowdsource this. Could be immensely useful for edge-case testing!

[2019-10-11 15:43] #152 closed

[2019-10-11 21:14] j08lue commented on #139
New insights. We can get rid of the issue with `rasterio.errors.RasterioIOError: '/vsis3/italy-composite/rasters/italy_2018_red.tif' not recognized as a supported file format.` by setting `GDAL_DISABLE_READDIR_ON_OPEN=FALSE`. We were using `EMPTY_DIR` before.

We now tried `FALSE` to see whether we would get a different error message than the `not recognized as supported file format`, following ht

[2019-10-17 15:04] #139 closed

[2019-10-25 08:58] #78 closed

[2019-10-28 15:50] dionhaefner commented on #118
AFAICT this is not really a major concern for all practical purposes. Feel free to re-open if I'm mistaken.

[2019-10-28 15:50] #118 closed

[2019-10-28 15:54] #79 closed

[2019-10-28 15:57] dionhaefner commented on #26
We already have required DB access from the deployment machine, so this is within reach now.

[2019-10-28 15:58] dionhaefner commented on #13
I interpret the lack of activity here that there's not really all that much demand for this. Closing.

[2019-10-28 15:58] #13 closed

[2019-10-30 13:42] dionhaefner opened #155 "Thumbnail in preview app should keep aspect ratio"

[2019-11-14 17:47] mccarthyryanc commented on #10
@dionhaefner , sorry for the silence, other priorities got in my way.

I wanted to avoid merging because a single "layer" would have ~10K tiles to merge. I wanted to keep storage costs down by working off just the tiles.

I'll play around with merging and see how that works out. I could always delete the base tiles after the merge.

[2019-11-26 11:03] dionhaefner opened #159 "Raster driver cleanup"
The raster driver has become way too messy and is in dire need of a refactor.

[2020-01-24 14:40] FrancescoErmini commented on #140
I found this issue using categorical raster with only one label set. E.g max = 1, min = n.a.

[2020-01-27 09:22] j08lue commented on #140
Thanks for reporting, @FrancescoErmini. Wonder how best to fix this. I see three options:
1. We try to get this fixed upstream (https://github.com/leongersen/noUiSlider)
2. We patch our copy of the code
3. We branch off on this case before initializing the slider and replace the slider element by something else.

Maybe worth giving 1. a try first? It is a valid edge case for the slider to support,

[2020-01-27 11:57] j08lue opened #160 "CORS for map tiles?"
We currently enable CORS only for `metadata_api`, not for `tile_api` or `spec_api`:

https://github.com/DHI-GRAS/terracotta/blob/3c9feff9910382da1c827f11d8a84e7f08a44970/terracotta/server/flask_api.py#L21

However, we need CORS also for map tiles when using Mapbox GL as a client, because it fetches the data inside the web client, rather than just letting the browser load the images directly, like

[2020-01-29 14:29] dionhaefner commented on #160
Config sounds good. With CORS enabled globally, anyone can hijack the Terracotta server and request tiles in the backend of their own application, which might get costly. Of course you can still hijack the server in the frontend without CORS, so the only real protection is proper authentication.

[2020-01-29 14:46] dionhaefner commented on #140
4. Catch this case and just use a dummy `min = max - 1`
5. Catch this case and never enable / setup the slider (maybe this is your no. 3)

I suggest 1 if anyone volunteers to do it, otherwise 5.

[2020-01-30 09:25] mrpgraae commented on #160
CORS being configurable, but disabled by default sounds good.

The best option would be to have a whitelist for domains using the [access-control-allow-origin header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin), But I believe that is something that should be configured in the server that is hosting Terracotta (Gunicorn, nginx, etc.).

[2020-01-30 09:36] mrpgraae commented on #160
Here is the way to do whitelist certain endpoints and origins for CORS in Flask
(https://flask-cors.readthedocs.io/en/latest/#resource-specific-cors)
[code]

[2020-01-30 10:54] mrpgraae commented on #140
See this issue https://github.com/leongersen/noUiSlider/issues/676 for the upstream maintainers stance on 1.

[2020-01-30 12:34] j08lue commented on #140
Bullseye. 5 it is, then. Any of you full-stack pros want to fix it or should I try to find a JS volunteer?

[2020-01-30 13:27] mrpgraae commented on #140
I'm assuming this is where the `min == max` branch should be? Anywhere else?
https://github.com/DHI-GRAS/terracotta/blob/3c9feff9910382da1c827f11d8a84e7f08a44970/terracotta/client/static/main.js#L924-L934

[2020-01-30 15:18] dionhaefner commented on #140
There and in the corresponding singleband function:

https://github.com/DHI-GRAS/terracotta/blob/3c9feff9910382da1c827f11d8a84e7f08a44970/terracotta/client/static/main.js#L693-L698

I kinda like the proposed solution from the issue:

[2020-01-30 15:26] mrpgraae commented on #140
Yup, I started implementing that, but got cold feet since I wasn't sure of what I was doing :smile:

[2020-01-30 15:45] dionhaefner commented on #140
Simplest implementation should be something like

[code]

[2020-02-01 13:55] emilhe opened #162 "Add perceptually uniform colormaps (colorcet)"
I am a aware that custom colormaps can be injected through the API, but i still think that it would be valuable to have a range of perceptually uniform colormaps available as named colormaps. I would argue, that in the majority of map visualizations, perceptually uniform colormaps should be preferred, and hence they should be available "as default". It seems that in Python, the preferred collectio

[2020-02-01 14:20] emilhe opened #163 "Get index of (lat, lon) for raster"
I am visualizing raster data in a Leaflet-based map component. Prior to using Terracotta, i was using a kind of ImageLayer, which emitted click events specifying the raster index of the click. I need this index to lookup some other data.

To accommodate larger rasters, i have switched to serving the data via Terracotta, i.e. i add a TileLayer to the Leaflet map with the appropriate Terracotta URL.

[2020-02-01 15:25] dionhaefner commented on #163
Could you please expand a bit on your use case? *Why* do you need pixel indices from lat / lon?

I am trying to determine whether this is a useful feature for a majority of users that warrants its own API endpoint.

[2020-02-01 15:32] dionhaefner commented on #162
I note the recent requests for more colormap choices, and I'm thinking about a clean solution.

In the meantime, it might be worth noting that the following build-in colormaps are perceptually uniform:

- `viridis`
- `plasma`
- `inferno`
- `magma`
- `cividis`

([see here](https://matplotlib.org/3.1.1/gallery/color/colormap_reference.html))

[2020-02-01 16:31] emilhe commented on #163
In my typical uses cases i have multiple variables [a, b, c, ...] defined on the same coordinate grid.  I then calculate some derived variable that indicates feasibility and plot it. When i click on the map to select a location, i would then like to get all of the variables [a, b, c, ...] that belongs to that point. To do this, i need the raster index.

A concrete example could be assessment of ne

[2020-02-01 16:36] emilhe commented on #162
Thanks for the update! Yes, it's correct that matplotlib has a few options. However, there are not that many - and i like some of the ones from colorcet better. I will stay tuned for further developments :)

[2020-02-03 10:05] j08lue commented on #163
## Pixel drilling

We have for quite while been planning to build a data extraction ("pixel drilling") tool for data used with Terracotta. Very similar to your use case:

1. You have a collection of imagery nicely organized and indexed with Terracotta that you display on a map
2. You want to be able to click on the map and get all the values along some key - be it a date key for time series or a v

[2020-02-03 10:24] j08lue commented on #162
That is exactly why we make the selection of color maps extendable - everyone has different preferences. 😄 We'll think of something very soon.

[2020-02-03 11:07] emilhe commented on #162
@j08lue Haha, as i was writing that sentence i kind of realized that making the selection of color maps extendable would be the right way to go rather than simply adding colorcet. I'll monitor the progress :)

[2020-02-03 11:58] emilhe commented on #163
@j08lue That sounds great! My use case fits perfectly with your concept of "pixel drilling". I didn't know that the feature had been discussed before. Regarding the different options,

1. build this functionality into Terracotta
This was also my immediate idea. I image that a single endpoint would suffice. Something like

`/pixeldrill/{keys}/{lat}/{lon}`

or alternatively with the arguments (keys,

[2020-02-03 12:18] j08lue commented on #163
Well, lat lon to pixel is simple:

[code]

[2020-02-03 13:22] j08lue commented on #160
Thanks, @mrpgraae!

I wonder what the origin is when we call Terracotta from Mapbox GL in a web map. If I understand things correctly, it is always the browser. Then we cannot whitelist.

I assume that abuse is not something people too often are worried about. And, correct, in that case only auth really protects you.

So how about the following config options:
[code]
or perhaps `TC_CORS_ALLOWED_OR

[2020-02-03 13:33] emilhe commented on #163
I imagine that it's simple if one knows how to do it ;). In your code, could you share the imports? And is the "~transform" operation an actual function of just pseudo code?

I was thinking that there would be some rounding of indices when the pixels are drawn on the tiles other than the coordinate transformation, so that depending on the zoom level and the resulting tiles, the same (lat,lon) migh

[2020-02-03 13:35] j08lue commented on #21
https://github.com/Miserlou/Zappa#api-gateway-lambda-authorizers

[2020-02-03 13:45] j08lue commented on #163
No, a lat lon position should map to the same source image pixel always. When you render map tiles of any zoom level, though, pixels will change size and position and their values will be interpolated accordingly. So the user will **not** see the exact same values on the map as in the point-extracted data. But the extracted data will be the "true" pixel data from the source image.

I added the imp

[2020-02-03 14:33] emilhe commented on #163
Ah, i see, thanks. With slight modifications (it seems that the transform does not work on lists of coordinates),

[code]
the code runs. Comparing the result, i.e. the resulting indices, to my previous approach, the

[2020-02-03 14:41] emilhe commented on #163
(the close action was unintentional)

[2020-02-03 15:34] j08lue commented on #163
It's not necessarily the same pixels. The client (Leaflet) defines which image transform the XYZ tiles have, so pixels might be displaced compared to the original image. Maybe web-optimization can help here? #151 Otherwise, I guess it could be a round-off issue. How many decimals do your lat/lon coordinates have and how large are your pixels?

[2020-02-03 22:56] dionhaefner commented on #163
May I suggest something else to help you work around the issue now.

During ingestion, I suggest you add some additional metadata to your rasters:

[code]

Then, you get original CRS and transform of the raster when doing `/metadata` queries. This should enable you to do the index lookup like this:

1. Project clicked `(lat, lon)` to raster CRS
2. Apply inverse transform to this value

(this is wh

[2020-02-03 23:47] dionhaefner commented on #160
It’s not the browser, otherwise CORS wouldn’t apply. CORS is to protect your content from being served under a different hostname. In that case, the whatever the adress bar says when javascript requests tiles should be whitelisted.

If that works, I vote for your first proposal. But I wouldn’t really mind the second one either if you encounter problems.

[2020-02-04 08:21] j08lue commented on #163
You may have to serialize the transform and crs. `list(transform)` works and `crs.wkt`.

[2020-02-04 08:46] mrpgraae commented on #160
For example, on Satlas, the origin would be `http://satlas.dk:80` (port can be omitted when it's 80, but just to show that port is also part of the origin). But according to my browser, the TC instance is running on `https://2truhxo59g.execute-api.eu-central-1.amazonaws.com`, so `http://satlas.dk` needs to be in the `access-control-allow-origin` header.

[2020-02-04 08:48] mrpgraae commented on #160
First option is good I think :slightly_smiling_face:

[2020-02-04 08:57] j08lue commented on #160
I dunno, thought it was to protect the user from getting content from a different source than they think. But whatever. ¯\_(ツ)_/¯

[2020-02-04 09:18] emilhe commented on #163
Thank you for some great inputs! I am now realizing that what i was initially asking might not be possible - at least not when my data grid is in a different projection than the visualization (which is 'EPSG:3857' according to Leaflet documentation). To overcome this issue, i am not trying out a new workflow,

1. Create a grid in 'EPSG:3857', i.e. something like

[code]

2. Write the raster data t

[2020-02-04 13:52] dionhaefner commented on #160
Yes, that is the same thing, just from the user perspective :)

You can test whether CORS works by requesting a tile from Javascript. This tool can help:

https://www.test-cors.org/#?client_method=GET&client_credentials=false&server_url=https%3A%2F%2F2truhxo59g.execute-api.eu-central-1.amazonaws.com%2Fproduction%2Frgb%2Fcomposite%2F20180901%2F1%2F9%2F266%2F159.png&server_enable=true&server_status=

[2020-02-04 13:59] dionhaefner commented on #163
## Index lookup

I think what you are trying to do should definitely be possible, despite the numerous reprojection steps. Writing a lookup raster is not necessary. I'm not sure whether it should be `i = int(ii)` or `i = round(ii)`, but there should be a reference for that.

If you consistently experience off-by-one errors with both rounding schemes, I would be grateful for a reproducible test cas

[2020-02-04 15:55] emilhe commented on #163
### Index lookup

In my proposed workflow above i am not using a lookup raster. Rather i am interpolating my data onto a uniform grid in 'EPSG:3857' prior to creating the raster (this step is not shown, for brevity i just created some dummy data) so that my data grid and my view (pixel grid) are in the same coordinate system. Does that make sense?

With i = int(ii), the pixel mapping seems to be w

[2020-02-04 19:21] j08lue commented on #163
Yes, that was the idea behind storing that information (CRS and transform) in the metadata, which the client can retrieve (`/metadata`).

No, the problem is actually bigger with point requests that with polygons. The thing is that, even when you request a single point, GDAL/rasterio has to read the full containing **block** of data from the tiled GeoTIFF, and then discard all but one pixel. Hence

[2020-02-04 20:01] vincentsarago commented on #163
just an FYI becuse it wasn't mentioned but rasterio is already shipped with a `sample` method

https://github.com/developmentseed/cogeo-tiler/blob/master/cogeo_tiler/handler.py#L389-L402
[code]

[2020-02-05 07:59] j08lue commented on #163
Nice, thanks for the pointer, @vincentsarago! That nicely simplifies the code, but does not solve the problem of read overhead. Have you encountered efficient solutions for that - also with a completely different tech stack?

[2020-02-05 15:00] vincentsarago commented on #163
@j08lue I think you are mentioning @dionhaefner comment:

Sadly I don't think we can do iner tile value retrieval without fetching the full tile, and I'm not sure if its possible because we can easily retrieve tile based on the `internal tile` index but at the tile level I don't think it's possible to determine the index of the data for a specific pixel

[2020-03-25 14:07] dionhaefner commented on #53
To-do:

- [x] Make sure tiles are served correctly
- [ ] Fix data coverage computation which is based on bounds
- [ ] Fix footprint calculation

[2020-03-27 07:34] j08lue opened #170 "Build docs and publish to PyPI with Travis?"
Is this worth the effort?

* Build and push docs with Travis: https://sphinxtechnicalwriting.readthedocs.io/en/latest/cd/config-travis.html
* Publish tagged releases to PyPI: https://docs.travis-ci.com/user/deployment/pypi/#deploying-tags

[2020-03-27 08:18] dionhaefner commented on #170
I'm all up for the PyPI upload, but building the docs via readthedocs directly works just fine, and I don't see the point of complicating that.

[2020-03-27 10:19] #160 closed

[2020-03-27 10:19] #170 closed

[2020-03-30 08:46] dionhaefner opened #171 "Use click-spinner to visualize optimize-rasters progress"
Finally! I've been looking for something like this for a while.

https://github.com/click-contrib/click-spinner

[2020-03-31 14:11] dionhaefner opened #172 "Ditch databases?"
Currently, we have the following tables in a Terracotta database:

- `keys`: Contains defined key names and their description
- `datasets`: Maps key values to physical raster path
- `metadata`:  Maps key values to raster metadata (such as min and max value, bounds, footprint, ...)

An additional model could be to save raster metadata *on the rasters themselves*. In that case, it would be much less

[2020-03-31 19:19] j08lue commented on #172
I am split about this:

* Pro **ditch**: The database is what makes deployment cumbersome - you need to make sure you update the DB in sync with the data and manage access e.g. to a MySQL db. Just having to push files and get their names right is easier and would move all the keys logic to the regex / pattern matching schema.
* Pro **keep**: I always find file names and folder structures an ugly i

[2020-04-01 08:19] dionhaefner commented on #172
Well, if you do it right, the user would never know they are looking at paths.

Before:

[code]

After:

[code]

Just have the folder structure

[code]

And in my proposal, you would still have the option to use a (fully searchable) database, it just wouldn't contain the raster metadata by default. So you give either `TC_DB_TYPE=filesystem` or `TC_DB_TYPE=sqlite` or so.

Yes.

[2020-04-01 08:24] mrpgraae commented on #172
This is a good idea in any case.

This would mean that keys would have to match the file/folder structure directly, would that not be a step backwards? I guess it could be good as a default behavior, then a DB is only needed if the user wants to have arbitrary key->raster mappings.

[2020-04-01 08:26] mrpgraae commented on #172
But the DB would still be "managed" by Terracotta, right?
As in tc would still provide the tools for setting up a DB, adding keys and so on?

[2020-04-01 08:29] dionhaefner commented on #172
Yes, so you have pattern matching on the file system by default, and the option to use a database. Database could be anything that maps your search criteria to what we call keys now (and might call "path" or just "key" in a new version).

Example I have in mind: [a STAC catalogue](https://sentinel.stac.cloud/item/Gbb7Xx6cfk7aogdaht8NQUX6XJEmJMVLmEdCy/Q86P27jAfP31GKZ6No1wnkgFBsjGkBobQyMdyVNzq/8mTbK

[2020-04-01 08:31] dionhaefner commented on #172
As in tc would still provide the tools for setting up a DB, adding keys and so on?

I'm not sure. I think it would be good to do that for the most common DB usecase(s), but we should also have the option to have databases that are externally managed.

[2020-04-01 08:36] mrpgraae commented on #172
Reason I'm asking is that if we don't have these tools, users would then have to tinker with a database, if they want to have the same functionality as now.
I imagine that people like using Terracotta, because it's really easy to set up and use, I would be careful about messing with that too much.

[2020-04-01 08:57] dionhaefner commented on #172
Yea, we could still fully support e.g. the simple SQLite DB, and make any external DB read-only.

[2020-04-01 09:07] dionhaefner commented on #172
Not sure though in what way the SQLite DB would be easier to use than the filesystem. Ingest == dump the file into an S3 bucket sounds like the dream to me.

[2020-04-01 09:22] mrpgraae commented on #172
Yes, it's very plausible that the people who would want the SQLite DB is a small minority, so it might be fully justified to make their lives a tiny bit harder, for the greater good.
But there could be people who don't want to / can't use S3 for some reason.

[2020-04-01 09:35] dionhaefner commented on #172
Well, the data has to live somewhere? S3 was just an example, could be any filesystem.

[2020-04-01 09:41] dionhaefner commented on #172
Aha, S3 could actually be an example where you would want to use a database. You can't run glob patterns on S3 buckets, so if you have tens of thousands of files it could become slow to filter those on `/datasets` queries.

[2020-04-01 09:50] mrpgraae commented on #172
Right, I'm just thinking out loud, trying to cover every angle from the users perspective. Imagining how this would work from the perspective of the most unlikely user, who wants to have their rasters scattered all over the place :smile:

But yeah, decoupling from the DB would probably make it better for the vast majority of users, at the possible cost of making it slightly worse for a small minor

[2020-04-01 10:24] dionhaefner commented on #172
### Simplest mode of usage:
(only recommended for data exploration)

[code]

In this case

- `/keys` just gives `[date, tile, band]` with empty descriptions
- `/datasets` runs `glob` with the given pattern and extracts / filters keys
- `/metadata` opens GTiff and reads tags, if there are no tags metadata is computed sloppily based on an overview
- Metadata access triggers warning about missing tag

[2020-04-01 10:55] dionhaefner commented on #172
Option 2x look nice but they are a bit half-baked, since there's no real way to browse the database...

[2020-04-01 13:05] j08lue commented on #172
Slower than a database lookup for sure, but listing keys in a bucket and running some regex on them is not that slow either.

[2020-05-15 17:23] j08lue opened #173 "MySQL driver issue - first Cursor closed then InterfaceError"
I have recently used the MySQL driver a lot but never seen this error.

Now I just inserted a lot of new data. `/datasets` worked fine at first, showing all the new entries. But then all the sudden not anymore:

[code]

[2020-05-18 12:40] dionhaefner commented on #173
It looks like the connection goes stale for some reason, and the driver fails to re-open a new one. A possible cause could be this:

https://github.com/DHI-GRAS/terracotta/blob/5ceb6ad217d6eae705b3bc6e1358aeb3f565e38c/terracotta/drivers/mysql.py#L217-L222

If any of the first 3 lines fails, `self._connected` will stay `True`, and the driver won't try to open a new one despite it being broken.

You

[2020-05-18 18:23] j08lue commented on #173
Just thought the stale connection could have been due to automated RDS db maintenance. But that has a different time window.

The issue was gone when we checked again after about 12 hours.

But I'll implement the change you suggested to handle these errors better.

[2020-05-19 07:42] dionhaefner commented on #173
... or just move `self._connected = False` to the top of this block :)

[2020-05-27 13:00] #173 closed

[2020-06-23 13:04] laxnpander opened #176 "Error: VRT already has an alpha band"
Hey there people,
I created some custom .tif file and would like to serve it with terracotta. However, I get the following error when calling
`terracotta serve -r {name}.tif`

Error message:
`Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/flask/app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "/usr/local/lib/python3.6/dist-packag

[2020-06-23 13:14] dionhaefner commented on #176
Thank you for the bug report. What version of rasterio is this?

[2020-06-23 13:21] laxnpander commented on #176
@dionhaefner: `rasterio.__gdal_version__ ` gives me 2.4.4.

I just realized after following the workflow in the readme (optimize raster files, pack as sqlite db) it is displayed, but in greyscale.

[2020-06-23 13:24] dionhaefner commented on #176
I can reproduce the error, so I'll see if I can find what's going on.

This raster is not cloud-optimized, so even if it would work, performance would be horrible. So you should do `terracotta optimize-rasters` regardless of this problem. Terracotta only supports single-band GTiffs, so to display it in RGB you will have to split the bands int separate files.

[2020-06-23 13:35] laxnpander commented on #176
@dionhaefner: Alright, didn't know that. Thanks for the quick response! I tested a couple of open source tileserver over the past few days and Terracotta is my favourite so far. Really nice work!

[2020-06-23 13:58] dionhaefner commented on #176
Should be fixed on master. Would be nice if you could verify. As I said, reading will be slow, so be patient :)

[2020-06-23 14:18] laxnpander commented on #176
@dionhaefner: Hmm, how patient do I have to be? :D Currently hitting the 15 min but it seems to be still loading. On the pro side: I didn't get the error anymore!

[2020-06-23 14:24] dionhaefner commented on #176
Should be fixed then. Feel free to report if you run into further problems.

[2020-06-23 14:24] #176 closed

[2020-06-23 15:06] laxnpander opened #177 "Infinite loading of tif and sqlite file in 0.6.1.dev28+g45e4ff0 build"
Hey hey,

my loading issue didn't resolve. The terracotta viewer seems to be loading forever when loading my .tif file. It was an unoptimized tif, so I decided to use the tools to create the optimized one.

The files:
https://cloudstorage.tu-braunschweig.de/getlink/fi3FfLkzcfvrUxU48HVC6rRC/edemissen.sqlite
https://cloudstorage.tu-braunschweig.de/getlink/fi6bqLbn9Wk4kE8PFKCyGWKb/edemissen.tif

Outp

[2020-06-23 15:13] dionhaefner commented on #177
Can you display the image directly?

I.e., browse to

[code]

[2020-06-23 15:18] laxnpander commented on #177
Nope:
`{"message":"No dataset found for given keys ('edmissen',)"}`

Server response:
`127.0.0.1 - - [23/Jun/2020 17:16:36] "GET /singleband/edmissen/preview.png HTTP/1.1" 404 -
127.0.0.1 - - [23/Jun/2020 17:16:36] "GET /favicon.ico HTTP/1.1" 404 -
127.0.0.1 - - [23/Jun/2020 17:16:46] "GET /singleband/edmissen/preview.png HTTP/1.1" 404 -
`

[2020-06-23 15:21] dionhaefner commented on #177
Sorry, spelled your file name wrong. It's

[code]

[2020-06-23 15:25] laxnpander commented on #177
@dionhaefner: Ah jeah, this is working. Sorry I didn't check the spelling. However, viewer is still loading.

[2020-06-23 15:26] dionhaefner commented on #177
Are there any errors in the Javascript console in the browser window with the viewer?

It seems like it's not really loading, just got an unexpected response so the frontend crashed.

[2020-06-23 15:29] dionhaefner commented on #177
In case you haven't already, make sure to restart both server and client (terracotta serve / terracotta connect) after updating Terracotta.

[2020-06-23 15:39] laxnpander commented on #177
Yes, console throws the following error:
`Uncaught (in promise) TypeError: Cannot read property 'join' of undefined
    at updateColormap (main.js:593)
    at initUI (main.js:344)
    at main.js:1287`

[2020-06-24 07:09] laxnpander commented on #177
@dionhaefner: Good news, it is miraculously working today! So maybe a complete reboot did the job? Anyway, thanks for your help! Again, great job with the software and documentation.

[2020-06-24 07:09] #177 closed

[2020-06-24 08:57] dionhaefner commented on #162
This is possible now with the new custom colormap feature. Just dump them into a folder in the right format and point terracotta to it via the `TC_EXTRA_CMAP_FOLDER` envvar ([see the tutorial here](https://terracotta-python.readthedocs.io/en/latest/tutorials/custom-colormaps.html)).

[2020-06-24 08:57] #162 closed

[2020-06-24 13:18] laxnpander opened #178 "Blurry and limited zoom in dataset provided by server"
Hey,

it's me...again :-) I implemented COG export of my data and directly split it into different channels. All is working fine, except for the fact that my maximum zoom level is very blurry. When I import it in QGIS the resolution is fine.

Dataset:
https://cloudstorage.tu-braunschweig.de/getlink/fiXp4NMFV5cV5wcEfr52sxBi/dataset.zip

What am I doing wrong? I added internal overviews to comply wi

[2020-06-25 08:10] laxnpander commented on #178
@j08lue Thanks, it looks pretty good now! I think I had some caching issue also, either my browser or QGIS was rendering some older data than the one I checked it against. Anyway, it's working as expected now!

[2020-06-25 08:10] #178 closed

[2020-07-12 19:14] abhi1301 opened #179 "Error when trying to serve raster of float datatype"
[code]

[2020-07-13 08:14] dionhaefner commented on #179
Thank you for raising this. Unfortunately, I can't reproduce. Can you share your raster and which version of Terracotta, NumPy, and rasterio you are using?

[2020-07-13 15:39] abhi1301 commented on #179
I'm using the following versions:
- terracotta : version 0.6.1.dev6+gd467a30
- rasterio :  1.1.5
- numpy : 1.18.1
- GDAL  : 2.3.3
- rio-cogeo : 2.0a2

Using rio-cogeo to create valid COG files, with overviews and internal tiling.
There's also the following error when trying _**terracotta optimize-rasters**_ on float datatype rasters:
`Optimizing rasters:   0%|                          | [00:00<?,

[2020-07-14 08:45] dionhaefner commented on #179
Thanks! I can reproduce the problem now, and it seems like we're going to get at least 2 bugs fixed here. Working on it.

[2020-07-14 09:29] dionhaefner commented on #179
`optimize-rasters` should work now, next up is an issue with how NaNs are handled internally.

[2020-07-14 10:10] dionhaefner commented on #179
<img width="981" alt="Screen Shot 2020-07-14 at 12 09 17" src="https://user-images.githubusercontent.com/11994217/87413657-dffa2600-c5ca-11ea-9294-dc4e1579fb46.png">

Done. Feel free to reopen of the problem persists.

[2020-07-14 10:11] abhi1301 commented on #179
It seems the second issue with **_terracotta optimize-rasters_** was only with small size rasters as you said, I just verified, it's working for my large rasters. But just to be on same page, the first issue with serving the float datatype raster (terracotta optimized) is irrespective of the size, right?

[2020-07-14 10:17] dionhaefner commented on #179
Yes, there were two problems:
1. `optimize-rasters` did not work on rasters smaller than `(256, 256)`.
2. Rasters containing a nodata value *and* NaN values could not be served. So, in general, float rasters *did* work, just not ones that also contain NaNs.

[2020-07-14 10:17] #179 closed

[2020-07-20 13:03] plant99 opened #182 "Demo website isn't working"
https://terracotta-python.readthedocs.io/en/latest/preview-app.html on loading, gives the following error in browser console
[code]

[2020-07-20 13:57] dionhaefner commented on #182
Whoops! Thanks for letting us know.

The demo server runs an outdated version of Terracotta. I'm not sure how to best fix this (and avoid regressions in the future). Perhaps the Satlas and TC demo server should be separate deployments, where the latter one is deployed automatically on new releases (but they can use the same data). Would that be doable @j08lue?

[2020-07-28 07:33] j08lue commented on #182
Yes. I'll set up a dedicated demo deployment (AWS Lambda) with latest Terracotta.

How about we use some publicly available set of COGs and just index that? Any preferences? Maybe we can find some under this Twitter handle https://twitter.com/cogeotiff ...

[2020-07-29 14:59] abhi1301 opened #183 "Custom discrete colormaps for float data ranges"
How can I generate custom colormap (in .npy file) for some discrete float values and their corresponding color values of my choice? For example, the following value ranges and their respective colors for a _NDVI_ raster:
**_-1.0 to 0.1 : #b17855
0.1 to 0.2 : #efe8c1
0.2 to 0.3 : #e5dca5
0.3 to 0.4 : #d3df97
0.4 to 0.5 : #a7cf76
0.5 to 0.6 : #78b164
0.6 to 0.7 : #389668
0.7 to 0.8 : #389668
0.8 to

[2020-07-30 09:29] dionhaefner commented on #183
As I see it you have essentially two options:

### 1. Pre-process your raster files and convert them to a categorical format that corresponds to your bins

I.e., convert all values from -1 to 0.1 to `0`, from 0.1 to 0.2 to `1`, and so on. Then, [you can serve them up as categorical rasters](https://terracotta-python.readthedocs.io/en/latest/tutorials/categorical.html) which makes it easy to specif

[2020-07-30 09:47] dionhaefner commented on #182
Sure! Anything that's pretty to look at will do for me, really. If you can handle the AWS side of things and send me an access key, I can handle the Travis deployment. I think I would do it like this:

- Run on new releases, before the PyPI deployment
- Re-build database from scratch (so the rasters can't be too big)
- Bundle the SQLite database with the Lambda code (then we don't need a dedicated

[2020-07-30 09:48] dionhaefner commented on #182
That hinges on the open data being cloud-optimized, though. Do you have any experience with that? Otherwise we would need to dump that into a dedicated S3 bucket (maybe the safer option anyway).

[2020-07-31 06:50] j08lue commented on #182
Yes, the data I suggested is all COG. But we could also use our own data. The best would probably be to have both float and categorical data, so that we can nicely demo the color stretch functionality and users can also explore custom categorical color maps etc. So maybe I should just upload some of the old anyways.

Regarding deployment/upgrades: you are not talking about doing this in CI/CD, are

[2020-07-31 08:00] dionhaefner commented on #182
Don't bother with categorical data, the viewer doesn't expose that functionality.

Even when updating a Lambda? I imagine that S3 push access should be enough (but might be a PITA to figure out all the permissions)

[2020-07-31 08:32] abhi1301 commented on #183
Yes it works. Thanks a lot.

[2020-07-31 08:32] #183 closed

[2020-07-31 14:51] akshatgit opened #184 "Optimize a directory of rasters"
I have a directory in /data/ containing .jp2 files. I regularly do a rsync to upload new rasters.
Similar to rsync, I would like to optimise only new rasters, and also while ingesting them to create new DB, I would like to ingest the new optimised rasters to append them to an existing SQLite db.

[2020-07-31 19:06] j08lue commented on #184
This question is not really specific to Terracotta, but more a question of how you code up your file ingestion pipeline. Terracotta does not include any logic to scan a directory for new files or so, if that is what you are asking about. So you have to code that up yourself.

Some ideas: You could pipe the output of `rsync` to a list and grep out the file names to get the names of the files that w

[2020-07-31 19:06] #184 closed

[2020-07-31 22:37] dionhaefner commented on #184
Maybe it would be a good idea though to skip COG that are passed into `optimize-rasters` instead of optimizing them again. Would that help?

Otherwise you can use an external optimizer such as `rio-cogeo` to achieve this. With the terracotta Python API it should be easy enough to check which rasters are already ingested.

[2020-08-01 11:07] akshatgit commented on #184
Thanks, @j08lue and @dionhaefner for your help. I have filtered out new files that were synced via `rsync` to optimize only new/updated images.
Currently, I am serving the using -r option to the entire optimized raster images directory. I have yet to see how I can update the sqllite db if I switch to it.
Also, I am new to terracotta and we are deploying it on k8s. Maybe it makes sense to have an o

[2020-08-01 11:08] akshatgit commented on #184
I have a fair docker experience, I can help with that if it is in pipeline..

[2020-08-03 10:43] dionhaefner commented on #184
I think you should definitely use a real database for any serious deployment. [You can check out our guide for examples on how to do that.](https://terracotta-python.readthedocs.io/en/latest/get-started.html#ingestion)

I think there could be value in supplying a stripped-down, lightweight official Docker image, if you want to write one. Otherwise it pretty much just boils down to

[code]

[2020-09-01 10:37] j08lue commented on #134
https://read.acloud.guru/how-to-keep-your-lambda-functions-warm-9d7e1aa6e2f0

[2020-09-09 09:08] j08lue opened #185 "pymysql 0.1.0 breaks context manager"
In version 0.1.0, `pymysql.connect` is not a context manager, so our `with` won't work.

https://github.com/DHI-GRAS/terracotta/blob/ec351a05fd4fb76133219d62fdd1f5450f7abfff/terracotta/drivers/mysql.py#L260

There is an open PR fixing that https://github.com/PyMySQL/PyMySQL/pull/886. Until it is merged, users should `pip install pymysql==0.9.3`.

[2020-09-13 12:17] abhi1301 opened #186 "XYZ tiles of a given Polygon from a large raster tile"
Is there a way or a workaround with terracotta that can help me serve XYZ tiles of a given polygon from a large tile?
So the case is, I have a large tile but I want only a polygon section of it to be served, rest be masked out invalid, dynamically? I'm using Leaflet maps to visualise the raster tiles.

[2020-09-14 08:10] dionhaefner commented on #186
Not really.

Do you know your polygons in advance or are they generated dynamically?

[2020-09-14 08:35] j08lue commented on #186
If the polygons are dynamic, the only way I can see would be for you to fork Terracotta and add this custom functionality to the routes as an additional query parameter. From there on it might be an easy job to add the masking of the window-read tile data with [`rasterio.features.geometry_mask`](https://rasterio.readthedocs.io/en/latest/api/rasterio.features.html#rasterio.features.geometry_mask).

[2020-09-14 09:24] dionhaefner commented on #186
A simpler solution might be to do the masking client-side. This leaflet plugin looks promising:

https://github.com/aparshin/leaflet-boundary-canvas

[2020-09-14 09:39] abhi1301 commented on #186
Yes, I have the polygons stored in another database. But only the polygon boundaries not rasters.

Yes this looks good only if it has to be served in browser but I also need an API that returns the masked XYZ tiles so I have to achieve this in the server side.

[2020-09-14 11:00] dionhaefner commented on #186
Then I'm afraid there is nothing built-in to help you. As @j08lue suggested, you can extend Terracotta by adding something like `clip_polygon` as a route parameter, which then parses the given polygon and applies it as a mask. Then, you could do

[code]

when sending your requests.

If you decide to do this, it could be valuable to merge this into back into Terracota.

[2020-09-14 13:02] abhi1301 commented on #186
Yes I could do this, but I need help with two things:
1. If I send the polygon in the URL, like _clip_path=..._ , wouldn't that make my request URL huge when after URI encoding, as all points are  floating point numbers.
2. `rasterio.features.geometry_mask`  this would give me the mask for the raster level, but the operations are at the XYZ tile level in Terracotta, right?, so how do I fetch the c

[2020-09-14 13:25] dionhaefner commented on #186
1. Yes, this might be infeasible with complicated polygons. You could try and base64 encode it to save some space, but you will still run out for complicated geometries. I think in this case you would have to supply a link to a geojson file instead that Terracotta can read.

2. Is easier to solve, just use the transform of the tile instead of the whole raster. I.e., use `vrt.transform` where `vrt`

[2020-09-14 14:20] abhi1301 commented on #186
Thanks for the pointers.

1. I can use json payload for the polygon with the request and parse at the server, instead of just adding the whole polygon in the URL. I have tried this, it works.
[code]

2. I'll try what you've suggested and update here, or ask my query if stuck somewhere, regarding the fiddlings you mentioned.

[2020-09-14 14:27] dionhaefner commented on #186
You are using GET requests to fetch tiles, which should not have a request body. You can of course do this for your personal use, but then we won't be able to merge that into TC (which is fine, just a heads-up).

[2020-09-14 18:26] j08lue commented on #186
Too complex polygons will cause the calls to be slow.

If you can do with the 2048 characters you have on the URL with a GET request, you get about 100 x,y vertices of 8 characters or less, which corresponds to meter-centimeter precision in lat/lon. You could use the [OpenSearch Geo extension](https://www.ogc.org/standards/opensearchgeo) way of specifying a polygon (`x,y,x,y,x,y,x,y,...`).

And ye

[2020-09-25 20:18] emilhe commented on #186
If the polygons are static, another option would be to create a Boolean mask in a pre processing step. While the pre processing can take some time, the requests remain performant. I have previously used this approach for some tiles that were only meaningful onshore.

[2020-09-27 19:01] j08lue commented on #186
Thanks for sharing your experience and solution for static masks, @emilhe.

Boolean masks created dynamically could also be cached. With compression, the files are tiny. But hard to share efficiently among Lambda instances...

[2020-10-02 09:29] emilhe commented on #163
For anyone else with this issue, it got it working using a small extension that fetches point data from the geotiff. You can find it here,

https://pypi.org/project/terracotta-toolbelt/

Be aware that it's also necessary to,

* Interpolated the data onto a grid that is regular in the projection in which the data is viewed, i.e. `epsg:3857`.

* The pixels of the data grid must be aligned with map t

[2020-10-02 11:24] dionhaefner commented on #163
:wave: @emilhe, thanks for sharing! I think it's great to have a full example deployment like yours, and your map looks gorgeous.

I'm not sure whether this is how I would solve the pixel drilling, but whatever gets the job done :)

FWIW, I would actually recommend to side-step the issue and do the value lookup in the frontend. You can retrieve the RGB value from the tile images in leaflet and map

[2020-10-04 10:07] emilhe commented on #163
Thanks for the example, @dionhaefner ! It looks really cool. In terms of raw performance, it's definitly better than my approach, and it's also great to see an approach that's indepedent of data pre processing. However, i also see a few drawbacks,

1) You can only get the "real" value if there is a 1:1 mapping between color and value. Hence, in most cases you'll probably loose some accuracy (since

[2020-10-05 09:05] dionhaefner commented on #163
1. Yes, this only works in 8 byte color space, so if your raster is in 16 or 32 bit you will lose information (that you can regain by re-scaling, though). Regarding cyclic maps, we don't have any build-in colormaps that are not injective so that shouldn't be a huge concern.
2. It is possible to solve, but a bit more awkward indeed. The simplest solution would be: Find out which tile your off-scree

[2020-10-05 09:07] dionhaefner commented on #163
Another drawback is that, due to resampling of overviews and interpolation, you can get values that are not present or not possible in the original raster, since it is truly WYSIWYG.

I'm not saying this is the right approach in every case, just putting it out there are the first thing I would try in this situation :)

[2020-10-05 11:04] emilhe commented on #163
1. Ah, i didn't know that. But i guess that it could still be an issue for custom color maps. That being said, I agree that in most cases, it's not really an issue.
2. That was also the only approach that i could think off at the top of my head. But since it requires sending the whole tile from the server to the client, this approach will be much slower than what i am currently doing.

I think tha

[2020-10-05 11:51] dionhaefner commented on #163
Regarding performance: Did you do any benchmarks how long it takes for your custom endpoint to return a value? (just curious)

[2020-10-05 12:02] j08lue commented on #163
Side note on this already pretty long thread - there is [talk going on about data tiles](https://twitter.com/RowanWinsemius/status/1301142633788497920) where you pull the binary data into the client... Just FYI.

[2020-10-05 12:19] emilhe commented on #163
Yes, i did a simple benchmark requesting a few thousand random (to avoid caching) points. On my workstation, the average request time is around 2 ms.

@j08lue - That looks really cool! But won't it be a problem for large data sets? The reason i started using Terracotta was that my data files could be in the ~ GB range (covering the globe), which was not handled well by the browser.

[2020-10-06 06:23] abhi1301 opened #187 "Can't connect to MySQL server if password contains '#' character"
`terracotta.get_driver(mysql_path)`

Fails when _mysql_path_ contains '#' in any part. It's actually because of  `urllib.parse` , which fails to parse the URL components if any of the component has '#' in it. There may be other special characters too causing the issue. The password part of the URL has high probability of having these characters. My example :
[code]
_Also if you move the '#' around

[2020-10-06 07:07] dionhaefner commented on #187
Ah, that's not good. Your workaround is OK but a bit awkward.

There should be another way to set MySQL credentials. The case above is fine for simple one-offs, but having the password part of the path is just not great...

[2020-10-06 08:49] j08lue commented on #187
When/where does the database path (in your case MySQL connection string) get passed to `urllib.parse`?

Connection strings that contain all secrets are pretty standard, I think. And nothing too terrible about that - as long as they are treated correctly.

[2020-10-06 09:44] abhi1301 commented on #187
@j08lue

I just pass the whole URL to `terracotta.get_driver()` which uses `urllib.parse` to extract out the components from URL that finally  is passed to `pymysql.connect(..)`
And I call  `terracotta.get_driver()` in my script to initialize to get a connection to my database, is there any other way too to get the db connection? Because [here ](https://terracotta-python.readthedocs.io/en/latest/a

[2020-10-06 10:15] j08lue commented on #187
Yes, you are doing everything right.

In this case, I think we should change the code in `get_driver` to handle the different types driver paths better and not pass database URIs to `urllib.parse`.

[2020-10-06 10:15] j08lue commented on #187
Yes, you are doing everything right.

In this case, I think we should change the code in `get_driver` to handle the different types driver paths better and not pass database URIs to `urllib.parse`.

[2020-10-06 10:17] abhi1301 commented on #187
@dionhaefner

To get a connection to my db I have to go through `terracotta.get_driver()` which will lead to `urllib.parse`, how else will `pymysql.connect(..)` get the credentials for a connection. The other way I can see is to have a custom parsing or ditch parsing and provide the credentials from other source (like env variables, config file, etc) directly to `pymysql.connect(..)` .

[2020-10-06 10:33] dionhaefner commented on #187
Yes I was thinking of a config variable for username and password.

I don't see how that is possible. How do you treat ambiguities like this?

[code]

What is the password? `admin#!` or `admin#!@123`?

[2020-10-06 10:48] abhi1301 commented on #187
I don't  know how, but `urllib.parse` was able to parse properly without '#', means '@' created no issue for it, for example if password was _admin!@123_ , parsing works fine. But I get your point on how to treat ambiguities if we have to handle these cases on our own?

[2020-10-06 10:54] dionhaefner commented on #187
Different example then: password is `mysql://root:admin#!@123@localhost:3306/db`

[code]

💫

[2020-10-07 04:38] abhi1301 commented on #187
Well I looked into the legal characters for username, it seems any ASCII character is allowed, so if there is a colon in the username, it's ambiguous to differentiate. I tried out some DNS parsers, they all fail. They all assume user to handle the quote/unquote for special cases. But if we are not doing that, I think only choice left is to use env variables.

[2020-10-07 08:13] dionhaefner commented on #187
Thanks for looking into it, that's what I suspected. So we have these possible fixes:

1. Apply `urlparse.unquote` to username and password in the driver and document that these have to be quoted. This breaks existing code that relies on using a password with benign special characters (such as `!`).

2. Leave path parsing as it is, but introduce a config variable for credentials that people can us

[2020-10-07 08:52] abhi1301 commented on #187
Well the good thing with  `urlparse.unquote` is that, it will return the exact same text even if it was unquoted. So, if a password had '!' (say admin!@123 ) and was sent in URL unquoted, after parsing when password is passed to unquote, it won't be an error. So no exisiting codes gonna break.
But problem with this approach would be that in case of server deployment, user would have to generate a

[2020-10-08 07:49] dionhaefner commented on #182
@j08lue Would it be possible to make a SQLite version of the Satlas database and deploy that for now? Just so we get the demo up and running again.

[2020-10-08 09:26] dionhaefner commented on #187
Config variables incoming in #188.

[2020-10-29 09:19] #187 closed

[2021-02-23 16:56] rico-ci opened #190 "How to continuously ingest new datasets into running deployment?"
Hi there!

If I ingest new data into Terracotta (i.e. I make a new file available to it in the file system), Terracotta needs to be restarted in order to serve it. Is there any way of avoiding to force the file-system update and dynamically make RasterTiles available from newly added COGTiff files?

[2021-02-23 18:52] j08lue commented on #190
Hi @rico-ci, nice idea. Currently, that is not possible with one command. As you can see from the `terracotta serve` script, it works by ingesting all rasters into a (temporary) database and running Terracotta on that:

https://github.com/DHI-GRAS/terracotta/blob/018c4f7a059086e0eee6f923370b7a03cd8ff70a/terracotta/scripts/serve.py#L84-L88

What you ask for would require the script to keep monitori

[2021-02-23 22:42] rico-ci commented on #190
Hi @j08lue !

Awesome, thanks a lot for the reply! I tried it out and it does work! However, yeah that wouldn't be a solution that goes into production I feel. Either skipping datasets or actively polling the file system internally would be a great feature! Probably I would trust the latter more than relying on a separate command.

[2021-02-24 10:35] alexey-ci commented on #190
To add to this, @j08lue, would running a watch over `terracotta serve -r` be possible to do? While continually adding to a `sqlite` database might be suitable for smaller rasters, it would be sub-ideal for large rasters. There was one raster I was using that is 5GB in size, and a lot of time is spent by `terracotta ingest` on purely writing to the database. When I use `terracotta serve -r`, everyt

[2021-02-24 10:45] rico-ci commented on #190
Yeah, I think adding some functionality like [watchdog](https://pypi.org/project/watchdog/) on the filesystem would be a great and stable addition to monitor changes to the files that follow the pattern added by the user. I also saw just like @alexey-ci said that the ingest of the data directly into the SQL database takes ages. Using the database just for the file paths is definitely ideal.

[2021-02-24 12:05] j08lue commented on #190
The slow part is usually the metadata computation, not the insertion. If you do not need metadata for anything (like color stretching by quantiles or so), you can skip that, with `terracotta ingest --skip-metadata`. Now the insertion should be more or less instantaneous. Remember: ingestion in Terracotta means just registering the rasters in the database, so Terracotta knows which path to read fro

[2021-02-24 12:13] dionhaefner commented on #190
When you use `terracotta serve -r`, metadata computation is skipped until the dataset is requested for the first time. To prevent the first request from taking ages, Terracotta then computes the metadata based on a downsampled version of the dataset. So you either have inaccurate and fast metadata computation, or accurate and slow ingestion. You can get the same effect with `terracotta ingest --sk

[2021-02-24 12:15] dionhaefner commented on #190
Perhaps, but this should be easy enough to do with some Python scripting on the user side:

[code]

(untested, might need some adjustments)

This only checks for now and deleted files, if you need to check for modifications you can check modification time on top of that.

[2021-02-24 12:22] rico-ci commented on #190
Okay! Thanks @dionhaefner, I'll definitely have a look at this. Also, thanks to @j08lue for sharing some information on your set-up. It's really super appreciated! One thing that is left though, is that I think the ingest / startup of teracotta should have a key to check whether a dataset is already in the database and if so skip it, just like suggested by @j08lue here:

[2021-02-24 12:26] dionhaefner commented on #190
Agree; we should add `terracotta ingest --skip-existing`.

[2021-02-24 19:10] j08lue opened #191 "Add option to skip existing datasets when ingesting"
This picks up from the discussion in https://github.com/DHI-GRAS/terracotta/issues/190#issuecomment-785040789.

You can already get the existing datasets (keys and paths) with

[code]

So it is just about adding a line somewhere below
https://github.com/DHI-GRAS/terracotta/blob/018c4f7a059086e0eee6f923370b7a03cd8ff70a/terracotta/scripts/ingest.py#L69-L71
that filters out the existing datasets, if

[2021-02-24 19:14] dionhaefner commented on #191
It's all yours :)

[2021-02-25 08:11] j08lue opened #193 "Tests failing"
Currently the tests are failing - maybe just due to some warnings.

See PR #192

[2021-02-27 12:24] #191 closed

[2021-02-27 18:40] j08lue commented on #193
Fixed.

[2021-02-27 18:40] #193 closed

[2021-02-27 18:43] j08lue commented on #190
This option is now available. Please consider updating to latest `main` with `pip install git+https://github.com/DHI-GRAS/terracotta.git` and testing whether this works for you.

Let us know whether this issue can be closed then.

[2021-03-02 16:48] dionhaefner commented on #190
Sounds like this is fixed. Feel free to follow up if you need to.

[2021-03-02 16:48] #190 closed

[2021-03-02 16:50] rico-ci commented on #190
Hi @dionhaefner and @j08lue, thanks a lot for your help as well as the fix! Really appreciated it. I was just in the process of trying it out and making it work. I'll gladly follow-up on this one once I've verified, but either way, the solutions suggested here were really helpful! Cheers.

[2021-03-23 00:31] ka-steve commented on #182
Do you have a working demo right now? I've just checked it and the linked demo still dies with the same error.

[2021-03-23 08:43] j08lue commented on #182
I am terribly behind on getting a demo back up and will try to bump that up the priority list now. But in the meantime, you would be welcome to check out a deployment we have elsewhere: https://ix8zgaqqe1.execute-api.eu-central-1.amazonaws.com/production .

[2021-03-24 14:55] ka-steve commented on #182
Thanks for the reply, unfortunately it is a 404. I've managed to set up terracotta and test it on my computer, but I'm pretty sure it would be an important first step for other new users too to be able to see it before trying it out.

[2021-03-25 10:48] j08lue commented on #182
Oh, sorry about that. The above URL is the Terracotta **server** deployment, so there is nothing to see there, but you can check out the REST API: the docs are at https://ix8zgaqqe1.execute-api.eu-central-1.amazonaws.com/production/apidoc.

To see it in action in the browser, you actually need to run the demo web client yourself, like

[code]

You can also see the same server in action here: https

[2021-04-14 09:17] bertearazvan opened #195 "Rewrite TC preview app"
For a better UI, maintainability, and consistency, the TC preview app can be re-written in React and TS.

The interface can be similar to the apps we keep building such as [satlas.dk](satlas.dk) or [urban.satlas.dk](urban.satlas.dk).

[2021-04-14 13:47] j08lue commented on #195
Another motivation for this is that a modern preview app based on something as widely used as Create React App can serve as resource for web devs who want to integrate Terracotta-hosted map tiles in their projects.

[2021-04-23 09:17] bertearazvan opened #196 "Trigger client build and commit latest changes"
As the app is built using React and Typescript, the build and the commit of the latest changes added in React should happen in the CI environment before publishing the package.

As per our discussion @j08lue, the current Travis CI could be moved to GitHub Actions and we can pass to it the `needs` key which would make it wait for the react build commit to happen.

An example of the commit job is
[c

[2021-04-23 13:29] j08lue opened #197 "How to enable CORS headers with terracotta serve?"
When trying the new `terracotta preview` against a locally run `terracotta serve`, I get errors because of missing CORS headers.

This issue is popping up now, because the new preview app is using Mapbox as a map provider instead of Leaflet and data is now loaded programmatically instead of just pasting the PNG links into the browser (which do not requite CORS headers). Anways.

I tried to set `TC

[2021-04-23 13:48] j08lue commented on #197
Never mind. It works with the env var. Maybe I had something cached somewhere or so.

[2021-04-23 14:21] #195 closed

[2021-04-23 14:21] #140 closed

[2021-04-23 15:23] dionhaefner commented on #197
Shouldn't we fix this for everyone by changing the default, then?

[2021-04-24 01:56] cursorcl opened #198 "Ngnix not forwarding to gunicorn"
Hi
I tried to make the secuence i your tutorial (https://terracotta-python.readthedocs.io/en/latest/tutorials/wsgi.html)  without use conda, only the next steps.

My first steps are:
sudo apt-get install ngnix
sudo pip install terracotta[recommended]

then I apply your steps

$ sudo apt install build-essential gdal-bin libgdal-dev
$ pip install cython

$ cd /path/to/terracotta
$ pip install -e .

[2021-04-24 06:59] dionhaefner commented on #198
The tutorial assumes that you have cloned the Terracotta repository. If you already installed via pip then the `pip install -e` part isn't necessary.

As to why it doesn't work for you, you'll need to be more specific.

[2021-04-26 07:11] j08lue commented on #198
We currently have several running instances with Terracotta hosted as indicated in our recipe. Should work more or less out of the box. Please provide details, perhaps we can help.

[2021-04-26 08:34] bertearazvan opened #199 "Preview app bugs and enhancements"
Thanks for the implementation, it sure looks more professional now.

I just tried it, and I do have some comments:

- The info text when you click on details seems superfluous now. Why not just remove it? It's hard to find anyway.
- The bold `/apidoc` in the details section looks weird to me.
- Raster listing starts at page 0, and no indication how many pages there are.
- No padding between metada

[2021-04-26 08:42] bertearazvan opened #201 "Remove hardcoded hostname"
In the App.tsx, the hostname url should not be hardcoded.

[2021-04-26 08:44] #201 closed

[2021-04-26 08:49] dionhaefner commented on #196
It looks to me like this is pretty easy to do. Could we get this implemented ASAP? No need to move from Travis now, we can have the main test on Travis and this on GH Actions for a while.

[2021-04-26 08:50] dionhaefner commented on #201
No need to open an issue if you already have a PR ready. The PR speaks for itself.

[2021-04-26 09:05] bertearazvan commented on #196
I don't think that it is possible to make travis wait for a github action to complete. So I think that the build script must be added to travis. I don't really have experience with python pipelines.

Pretty much the way it should happen is to `cd` to the right folder path `/app` and run `yarn install` and afterward `yarn build` (yarn build will generate the latest files). This way I believe it wil

[2021-04-26 09:12] dionhaefner commented on #196
The bot could use the commit message `[skip ci] Commit latest build`. Then, the Travis tests would only run on the original commit, *not* the bot commit.

[2021-04-26 09:30] bertearazvan commented on #199
Yes, I agree, that description is a bit useless.
- [ ] Remove the description.

The main point for the `/apidoc` being bold is to point out that every deployment has an `/apidoc` route and to spot out the obvious.

The metadata should be scrollable horizontally. Somehow I see in the screenshot you added that it is not. I'll look into that. I will add a small padding to that image.
- [ ] Add paddin

[2021-04-26 09:35] dionhaefner commented on #199
Google Maps disagrees :)

<img width="525" alt="Screen Shot 2021-04-26 at 11 34 40" src="https://user-images.githubusercontent.com/11994217/116061646-65932200-a683-11eb-8392-c7ddfcb3f861.png">

[2021-04-26 09:38] bertearazvan commented on #196
That's true, but it doesn't really make the Travis CI wait for the build to be done.

Maybe if we can make Travis CI run only on a specific commit that the bot could make such as [success build] Commit latest build

[2021-04-26 09:47] dionhaefner commented on #199
I think the main problem is that for this view the line breaks right before the bold `apidoc`, so it has the same visuals as the `Docs:` and `Keys:`.

It is scrollable, but since I'm on a Mac the scrollbar is hidden by default. As you can see it looks a bit weird.

OK

OK, `/rgb` works on another deployment, so that is reassuring. But the sliders are definitely wrong. The range should be the same

[2021-04-26 09:50] dionhaefner commented on #196
We don't test the preview app anyway (just whether it works at all). So I think this is acceptable for now. When we have moved all of the CI to GH Actions we can do this properly.

[2021-04-26 12:35] j08lue opened #204 "Migrate CI from Travis to GitHub Actions?"
Travis has served us well and it there are no indications that this would stop soon. But most new projects just use GitHub actions and many old migrate, due to the ease of having it all in one UI. Should we also make the switch?

Should be very easy to do...

What do you think, @dionhaefner?

[2021-04-26 12:38] dionhaefner commented on #204
Yes. I was also annoyed that travis-ci.org is shutting down, so I'm switching over my repositories, too.

[2021-04-26 13:08] j08lue commented on #204
Cool. Do you already have a setup you are happy with that we can adapt? I do not have any yet that includes mypy or benchmarks.

[2021-04-26 13:58] rico-ci opened #205 "Flask is erroring out with BrokenProcessPool"
Hi there!

We have started using Terracotta in our K8S infrastructure on production. Basically we are serving the WSGI flask application (`terracotta.server.app:app`) using gunicorn alongside with an internal gRPC server which is taking internal requests and queries the terracotta HTTP endpoint for a singleband tile and returns it as a bytes object.

However, while the first 10-50 requests work fi

[2021-04-26 14:19] j08lue commented on #197
Yes! Do you mean the default for `terracotta serve` or the app in general?

We are mostly using Mapbox to load TC layers (sometimes with Deck.gl) these days, so we always need that. Others might not, of course... Hard to tell which is better. I would perhaps prefer to make `*` the default, then fewer people will encounter bumps.

[2021-04-26 14:23] dionhaefner commented on #197
I mean adding `localhost` to allowed origins, so the use case `terracotta serve && terracotta connect` always works. I wouldn't allow all by default.

[2021-04-26 14:25] j08lue commented on #205
Hmm, I never experienced this.

As a workaround for now, you could disable internal parallelism by changing this line:

https://github.com/DHI-GRAS/terracotta/blob/76534672bbce38d50a5e33afb2a9a2c5f1339909/terracotta/drivers/raster_base.py#L43

You loose the concurrent RGB band retrieval on `/rgb` calls, but it should make no difference for `/singleband` (perhaps even faster, because threads are ch

[2021-04-26 14:27] dionhaefner commented on #205
I have several possible fixes in mind, the workaround proposed above should work. Can you see from the logs why the process pool breaks, though? This should be the first exception you see.

[2021-04-26 14:32] j08lue commented on #197
I'll test whether `localhost` and/or `127.0.0.1` works, also in Chrome... https://stackoverflow.com/questions/10883211/why-does-my-http-localhost-cors-origin-not-work

[2021-04-26 15:40] rico-ci commented on #205
The error-log above is the only output I am getting from gunicorn unfortunately. It's weird because I am actually  only using singleband requests. The fix above wouldn't work for me as I don't have a copy of terracotta locally but rather install it over pip (which is really the only way for our production deployments).

[2021-04-26 19:22] dionhaefner commented on #205
Alright. I'll try to add a setting to disable multiprocessing within the coming days and make a release as soon as #203 is merged. That should do as a workaround.

Permanent fix ideas, with increasing cleverness:

1. Disable multiprocessing by default and accept that `/rgb` takes 3x as long as `/singleband`.
2. Try multithreading again with GDAL 3, maybe the race condition is fixed by now.
3. Dete

[2021-04-27 10:05] dionhaefner commented on #205
:wave: @rico-ci, can you try with the latest master?

You can pip-install it with

[code]

This should spawn a new pool automatically if it breaks.

[2021-04-27 10:50] rico-ci commented on #205
Just tried it out and now am getting this behaviour:
[code]
So I guess, when the pool fails but then gets re-instantiated. However, where the `InvalidDatabaseError` comes from I have no idea. It's strange because subsequent calls are successful, so it can't be the actual error.

[2021-04-27 11:19] dionhaefner commented on #205
This seems to be the real error:

[code]

So it seems like your I/O is flaky for some reason. Doesn't seem like something we can fix from Terracotta side.

I interpret your log like the re-spawning works as intended, as Terracotta is able to recover from the failing I/O.

[2021-04-27 11:20] dionhaefner commented on #205
BTW, is the the first request or does it occur after some time? Does it re-appear?

[2021-04-27 12:03] rico-ci commented on #205
OK, I will look into what could be causing the I/O error. However, it seems weird to me that this is popping up out of nowhere and also just sometimes, saying that the DB does not exist.

Regarding the error frequency:
It occurs after some arbitrary number of requests (~40 or so) and then re-appears consistently.

[2021-04-27 12:04] j08lue commented on #205
I can really recommend to switch to a MySQL db. Concurrency + SQLite has caused quite some trouble for me before...

[2021-04-27 12:11] rico-ci commented on #205
Yeah I was thinking the same just now. I will have a look whether that solves not only the issue with the Read I/O but also with the ThreadPool. I'll keep you posted.

[2021-04-27 13:12] dionhaefner commented on #205
Switching to MySQL would probably fix this, whether it's a flaky disk or SQLite acting up.

The error saying the file does not exist is just a guess from Terracotta. SQLite is just reporting IO error and this is the most common cause.

Can you say a bit more about your setup? Are either rasters or database on S3 or is it all local?

[2021-04-27 14:07] rico-ci commented on #205
So we're currently storing COGTiffs locally on the pod where we have terracotta. We are thinking of using S3 further down the line but not for now. Hence, we generate COGTiffs, store them locally to the pod, and insert the dataset keys + filepath into the Terracotta database. Then, we GET the tiles from terracotta.

I just switched all `.sqlite` file-endings to `.mysql` (is that how you are suppos

[2021-04-27 14:21] j08lue commented on #205
Maybe this is the perfect case for a no-db option #172?

No, that is unfortunately not sufficient. You need a running MySQL **server** and ingest the datasets into that. We infer which db provider you are using from the scheme:

https://github.com/DHI-GRAS/terracotta/blob/76534672bbce38d50a5e33afb2a9a2c5f1339909/terracotta/drivers/__init__.py#L64-L73

or you can configure it with the `DRIVER_PROVI

[2021-04-27 14:34] rico-ci commented on #205
Right, that makes much more sense. I thought for some reason that MySQL was also serverless just like SQLite. I'll add another container to the deployment with a MySQL server in it and give that a shot. We'll be looking to move to S3 eventually anyways for horizontal scaling, so the effort is well spent regardless.

Well, I would definitely be **pro** ditching the database. The database was actual

[2021-04-27 18:11] dionhaefner commented on #205
SQLite can handle concurrent processes reading and writing to it perfectly fine. So I would be very surprised if this is a fundamental issue with Terracotta or SQLite.

[The internet has several suggestions for this error.](https://www.google.com/search?channel=fs&client=ubuntu&q=+sqlite3.OperationalError%3A+disk+I%2FO+error) Some examples:

- Disk is full (system disk or the one holding the datab

[2021-04-28 12:23] rico-ci commented on #205
OKAY! So, I got it to work and I am a bit embarrassed of the underlying issue.
Basically, I had far too many worked for the gunicorn Flask HTTP server for the number of Cores that I had. Reducing these to a lower number got rid of all the concurrency and IO errors as well as making my deployment as a whole more stable. There are no errors of broken pipes or core dumps anymore.

[2021-04-28 15:43] dionhaefner commented on #205
So it probably was the pod running out of memory eventually? Because each worker gets its own raster cache, which can grow up to `TC_RASTER_CACHE_SIZE` (490MB by default).

[2021-04-28 16:02] rico-ci commented on #205
That is very probable. I never saw the overall Memory / CPU usage to top any of my pod's limits but it could be that the allocation by gunicorn did some background-magic to cause the error. Otherwise, I could also imagine that there were just too many processes running at the same time, causing this assembly of errors.
Either way, thank you guys a lot for following-up and give some ideas as of wha

[2021-04-28 16:24] dionhaefner commented on #205
No worries. Happy to help, and I think the changes I implemented are still valuable for the future.

[2021-04-30 15:12] Jojocaster opened #208 "Large rasters, metadata & "bounds" error"
Hey all!

First of all, great work on Terracotta, it's proven itself very useful .

We're running it on an EC2 and trying to use large rasters through Lambda (The process is -> TIFF added to S3 bucket -> Lambda picks it up, and passes it to the EC2 to be processed -> the EC2 serves it to the front end). While it works for "small" rasters, we're getting errors whenever the files' resolution is bigg

[2021-04-30 15:25] dionhaefner commented on #208
Before we dig into a solution I would like to understand your setup. What exactly is the point of the Lambda function? Is this where the ingestion into your database happens?

[2021-04-30 15:45] Jojocaster commented on #208
@dionhaefner - absolutely, we're using lambda to listen to new files being added to S3 buckets so we can pass them to the driver, and store them inside the DB.

[2021-04-30 16:44] dionhaefner commented on #208
Yes, that is what we call ingestion. In that case the solution should be simple. If crick is not installed, Terracotta has to load the whole raster into memory which is why you get this error.

You have to male sure that crick is installed inside the Lambdas. How to do that depends on your deployment method. Then you should get away with using much less memory (< 1GB).

[2021-05-01 16:04] dionhaefner commented on #208
BTW, you are getting `KeyError: bounds` from your call because you use the `metadata` keyword argument incorrectly. It expects a dict of pre-computed raster metadata (e.g. by `driver.compute_metadata`), and one of the keys is `bounds`, which is missing in your dict.

The correct call would be

[code]

(but no need to do this, the default should work fine in your case)

See also: [Terracotta Python

[2021-05-04 07:33] #199 closed

[2021-05-04 13:19] Jojocaster commented on #208
.. I kept looking at crick without realising I was missing it on Lambda 🤦

Crick did the trick, it's now working like a charm! I had to use `use_chunks` on the biggest files as Lambda tends to time out after 15 minutes - chunks reduced the processing time by half.

About the metadata, I thought the driver would automatically compute the data and the `metadata` parameters were only used as argument

[2021-05-04 13:22] dionhaefner commented on #208
Glad I could help!

[2021-05-04 13:22] #208 closed

[2021-05-10 15:39] qpincon opened #211 "Add transparency layer to /rgb route"
Hello,

Thank you for this project, it's been very helpful.
I wonder if it would be possible to add an option to use a band value to determine the transparency of the returned image (meaning adding an optional `a=bandName` argument).

My use case is to display a clipped GeoTIFF, which is at the moment displayed with black values around it:
<img width="373" alt="Screenshot 2021-05-10 at 17 35 30" s

[2021-05-10 16:49] dionhaefner commented on #211
Usually, transparency is handled by defining a `nodata` value. Could you please elaborate why that's not an option in your case?

[2021-05-12 10:35] rico-ci commented on #205
@dionhaefner is there a timeline for when a new version of Terracotta which will include the changes discussed here will be released?

[2021-05-12 11:24] dionhaefner commented on #205
Good point. I'll make a release later today.

[2021-05-12 12:50] dionhaefner commented on #205
[Done](https://pypi.org/project/terracotta/#history)

[2021-05-12 16:07] rico-ci opened #212 "Version 0.7.1 introduces DriverRegistrationError"
@dionhaefner I've changed the terracotta version from `0.7.0` to `0.7.1` in my deployment and now am getting:
[code]
I've seen this one before when I had an incorrect GDAL version installed, however I'm building directly off `osgeo/gdal:ubuntu-small-3.3.0`, hence I'm wondering if this is an issue that arises from some changes in `0.7.1`?

I'm not installing terracotta using conda and the `environm

[2021-05-12 16:09] dionhaefner commented on #212
Starting from 0.7.1, we have pinned rasterio to a version that uses GDAL 2 for performance reasons. So it could very well be that this is a GDAL version conflict (2 vs 3). You can try upgrading rasterio *after* installing Terracotta, or downgrading GDAL (which I would recommend if you want the best possible performance).

[2021-05-12 16:17] vincentsarago commented on #212
if you are installing Terracotta withing a GDAL docker, you can by pass this by adding `--no-binary rasterio`

rasterio was pinned to 1.1.8 because the wheels are build using GDAL3.2 in `1.2.0`. FYI, latest GDAL 3.3 fix some of the performance issue saw with GDAL3.2 but no rasterio wheels have been published yet using GDAL 3.3

[2021-05-12 16:22] dionhaefner commented on #212
Thanks for the clarification @vincentsarago . I wasn't aware that the fast-again GDAL is released yet. This should be the way to go, then.

[2021-05-12 16:24] #196 closed

[2021-05-12 16:25] dionhaefner commented on #141
IIUC, this is now the default in rasterio.

[2021-05-12 16:25] #141 closed

[2021-05-12 16:27] dionhaefner commented on #186
Looks stale to me. Feel free to reopen if this is still relevant.

[2021-05-12 16:27] #186 closed

[2021-05-12 16:27] dionhaefner commented on #198
Looks stale to me. Feel free to reopen if this is still relevant.

[2021-05-12 16:27] #198 closed

[2021-05-12 18:34] rico-ci commented on #212
@vincentsarago `--no-binary rasterio` made terracotta work perfectly but for some reason I got other errors raised across the board for my integrationtests which use rasterio (something about `CPython` and `numpy`)
@dionhaefner good to know! I'll figure it out from here and probably go with GDALv2 ... However, might be good to remove this constraint in the future when GDAL sorts out its performanc

[2021-05-12 18:39] dionhaefner commented on #212
If it is this warning you're seeing:

That's a common false-positive when mixing packages build from source with binaries. It can usually be ignored safely, as we do in our tests:

https://github.com/DHI-GRAS/terracotta/blob/160f361ca602953b6a56a3bb23caee96d93cdab6/setup.cfg#L24-L26

[2021-05-12 18:48] vincentsarago commented on #212
I think I usually re-install numpy on a fresh env just to make sure everything is ok

[code]

[2021-05-19 07:11] dionhaefner commented on #212
Sounds like this is fixed. Feel free to re-open otherwise!

[2021-05-19 07:11] #212 closed

[2021-06-02 10:27] rico-ci commented on #205
Hi there! Since I posted last time, this issue has been cropping up again and I'm pretty clueless on what to do about it.

My specs and settings:
[code]

The error-log I am receiving again:
[code]
It's unfortunate that this only happens for one datasets and I can't exactly pinpoint what that dataset does differently than the others that I'm serving. I know for a fact that terracotta has a good tim

[2021-06-02 10:39] dionhaefner commented on #205
Are you absolutely sure that your files are valid COGs?

That would explain your slow tile reads and out of memory errors.

[2021-06-02 13:24] rico-ci commented on #205
Some other services were changed and this indeed was the issue. Thanks @dionhaefner! Was really losing my wits but didn't think of that.

[2021-06-02 13:24] #205 closed

[2021-06-13 17:23] chapmanjacobd commented on #197
yeah adding localhost by default makes a lot more sense than having no default since modern browsers seem to block localhost requests which have no CORS header set; at least in Firefox

[2021-06-29 12:36] htejwani opened #217 "Cannot add custom colormap: v0.7.1"
I have added the env variable TC_EXTRA_CMAP_FOLDER to point to a folder containing my .npy file. However when I start the server with this command: `terracotta serve -r /home/.../{name}.tif --port 8000 --allow-all-ips` , I get the following error:

[code]

[2021-06-30 07:30] dionhaefner commented on #217
Could you please try again with the current master?

[2021-07-01 05:38] htejwani commented on #217
Working now, thankyou.

[2021-07-01 05:38] #217 closed

[2021-07-05 09:38] htejwani opened #219 "Out of memory when optimizing large rasters even with --no-in-memory option"
**Command used:**
[code]
**Here is the error output after 1.5 hours of the command execution. Size of the output file before the error occurs is ~14GB:**
[code]

**Here is the gdalinfo output of the tif file:**

[code]

[2021-07-05 10:04] dionhaefner commented on #219
It looks like you're running out of memory when building overviews. This is handled by rasterio and nothing we have control over.

Did you try [to use GDAL directly](https://www.cogeo.org/developers-guide.html)?

[2021-07-05 13:44] htejwani commented on #219
Thanks for your reply. Tried it with GDAL, the COG tif size is 37GB. When served with terracotta, the rendering on map fails intermittently or freezes.

[2021-07-05 14:13] dionhaefner commented on #219
Can you be more specific? Which command did you use? What does "fails" mean? Do you see any errors or warnings in the logs?

[2021-07-06 06:11] htejwani commented on #219
1. GDAL command used: `gdal_translate input.tif output_cog.tif -of COG -co BIGTIFF=YES --config  GDAL_CACHEMAX 6144 -co COMPRESS=ZSTD -co NUM_THREADS=8`
2. The tif file size is 37GB
3. On leaflet, the layer initially takes more than 15 seconds to appear. When I zoom-in to certain parts, at times the tiles are rendered quickly but in most cases, the map freezes and does not render the tiles or take

[2021-07-06 07:36] dionhaefner commented on #219
The file size shouldn't be a problem per se, we've served files in that ballpark without issues. Right, @j08lue ?

I'm not sure how smart the new GDAL is. Can you run it through a COG validator to make sure that it's a valid COG? And can you post the output of `gdalinfo` again?

[2021-07-06 08:41] htejwani commented on #219
Yes, I checked wit rio-cogeo library and gdal's vaidation script. Both confirm that it is a valid COG.
Here's the output from gdalinfo command:

[code]

[2021-07-06 09:25] dionhaefner commented on #219
That looks mostly OK to me, the only smaller issue is `Block=512x512`. Terracotta uses `256x256` by default, so you lose some efficiency there. But the overviews seem alright.

You do ingest the raster before serving it, right? And how do you serve?

[2021-07-06 20:59] chapmanjacobd opened #220 "Serving vector tiles"
Instead of `{z}/{x}/{y}.png` I'd like `{z}/{x}/{y}.pbf`

I've generated something before like this:

[code]

I imagine this would be the centroids of each pixel as a vector point? Do you think this is possible?

Do GeoTiff COG overviews hinder access to the native resolution pixels of the COG? It would be nice to serve native resolution vector-tile-pixels up to a desired zoom level.

Can overview

[2021-07-06 21:05] j08lue commented on #219
In daily use, our images are mostly in the order of a 10th of that size on disk (1-5 GB). But size on disk is one thing with compression and all. If your raster is very sparsely filled or has a lot of areas of same value, it will compress very well. From your `gdalinfo`, 1516563 x 32061 pixels in 32 bit float is actually a 200 GB array (without compression). Do we have any sense of how large those

[2021-07-06 21:17] j08lue commented on #220
I see you really mean vector tiles (not binary tiles). But how do you want to build them from the raster (GeoTIFF) data?

No. GDAL automatically retrieves overviews if they exist, when you perform a **decimated read** into a smaller output shape with Rasterio https://rasterio.readthedocs.io/en/latest/topics/overviews.html, but if you do not ask for some smaller output shape, you always get the act

[2021-07-06 21:33] vincentsarago commented on #220
FYI, for rio-tiler we created https://github.com/cogeotiff/rio-tiler-mvt plugin which use https://github.com/tilery/python-vtzero to create the vector tiles. Basically we can do 2 things:
- create points vector from pixels (or polygon for each pixels) (`pixels_encoder`)
- create shapes using rasterio/GDAL polygonize functions (`shape_encoding`)

We used this in https://github.com/developmentseed/t

[2021-07-06 21:35] vincentsarago commented on #220
You can specify `OVERVIEW_LEVEL` option when you open a dataset
[code]

[2021-07-07 00:50] chapmanjacobd commented on #220
This is super helpful! Thanks both

- I like how fast terracotta is when importing lots of layers and I like COGs as a storage/archival format for this type of data. I'd rather vectorize on the fly because that seems more flexible.
- In the application that I'm working on I already have a way to generate a color scale so I'm not 100% sure how I would replace that system with terracotta manual colo

[2021-07-07 08:24] dionhaefner commented on #220
I'm not sure how much work it would be to offer vector tile output, maybe it's not that bad since rio-tiler has already done the hard part for us :)

That being said, I'm not quite convinced that this is a nice use case. But if you really want this and put in a PR I could imagine to merge it.

Regarding your issues:

`/compute` should work well for this. There are no requirements in terms of align

[2021-07-08 04:34] chapmanjacobd opened #221 "/compute transparent pixel, np.nan instead of zero"
Looking over the [expression parser](https://github.com/DHI-GRAS/terracotta/blob/160f361ca602953b6a56a3bb23caee96d93cdab6/terracotta/expressions.py#L48) I'm not sure if requesting nan squares is possible.

[code]

This works great in general but I'm wondering if it would be possible to show a transparent pixel if the expression evaluates to 0.

in pseudo-code:
[code]

[2021-07-08 07:12] j08lue commented on #221
Nice case, @chapmanjacobd.

Maybe we could make this possible by adding a parameter that lets you specify a NaN / transparent value and mask with that after the expression got evaluated. By default, this could be the raster NaN value.

[2021-07-08 08:59] dionhaefner commented on #221
Now that #222 is merged, both invalid values (`nan` / `inf`) and masked values will be transparent. Most of the `np.ma.masked_*` functions are now allowed in expressions.

So your expression should reduce to a one-liner:

[code]

Could you try this and report back?

[2021-07-08 14:33] chapmanjacobd commented on #221
works great!!
![image](https://user-images.githubusercontent.com/7908073/124940340-848d2900-dfcf-11eb-93b9-b7c3a0a57079.png)

[2021-07-08 14:33] #221 closed

[2021-07-08 14:54] chapmanjacobd opened #223 "/compute combining masks"
I'm wondering what the syntax would be for this scenario:

I would like to show the v1 values for pixels which are not masked out by v1_filter or v2_filter.

[code]

Instead of `+` could I have something like this?

[code]

[2021-07-08 17:56] dionhaefner commented on #223
OK, I also added `getmask` and `setmask` operators:

[code]

[2021-07-08 17:58] #223 closed

[2021-07-11 16:37] chapmanjacobd opened #225 "EXTRA_CMAP_FOLDER setting"
[code]

It might make sense to make this consistent with the other configs
[code]

Not a big deal though...

[code]

[2021-07-11 18:35] dionhaefner commented on #225
This is by design. Because this influences the schema for the colormap route parameter this has to be set _before_ Terracotta is imported.

[2021-07-11 18:35] #225 closed

[2021-07-15 15:00] #220 closed

[2021-07-15 15:18] dionhaefner commented on #220
Did this end up working for you @chapmanjacobd ?

[2021-07-15 15:24] chapmanjacobd opened #226 "Querying the expression parser with geometry"
If I wanted to leverage some of the existing expression parsing of the compute route to create a route which will create a CSV extract from compute route parameters + a GeoJSON. What would be the best way to go about that?

similar to https://github.com/DHI-GRAS/terracotta/issues/220 but 220 is about xyz input, vector tiles output whereas this ticket is about bbox extent or shapely geometry input

[2021-07-15 15:36] chapmanjacobd commented on #220
yes for visualization purposes PNG is much faster than client side parsing vector tile pixels

[2021-07-15 15:44] dionhaefner commented on #226
I think I'll have to see an example input and output here. It's not clear to me whether this is on a tile level, or whether you want to query raw GTiff data at the pixel level, and how you would expect this to work with different zoom levels.

[2021-07-16 03:43] chapmanjacobd commented on #226
For my use case it would always be at native resolution of the GTiff file. Maybe this wouldn't be solved by terracotta directly... I'm not sure what is possible.

I'd rather not duplicate `handlers/compute.py` and `server/compute.py`  but maybe that is the only way to access data in the format needed for a compute-extract route

[code]

[2021-07-16 07:50] dionhaefner commented on #226
I see 2 main problems with this approach:

- Something like this is extremely vulnerable to DOS attacks. If you pass a polygon with the entire globe you can stall the server for ages, and the payloads will be huge. At least add some validation that aborts if the pixel count is too high.
- URLs have a size limitation of ~2000 characters. So there's no way you can pass complex shapes with this. You

[2021-07-16 08:42] j08lue commented on #226
Doing more to the COGs registered in Terracotta than just PNG tile rendering is definitely relevant. There are several features that could be worth considering:
1. Compute zonal statistics over pixels within a user-provided polygon
2. Return the pixels in a user-provided polygon as PNG (very useful for creating animations on a map) (like [in TiTiler]()https://devseed.com/titiler/endpoints/stac/#cr

[2021-07-16 09:00] dionhaefner commented on #226
I'm not against adding a route mapping `bbox -> png` and `[bbox, zoom level] -> pixel data`. Something like

[code]

With lots of validation on the passed bbox. In this proposal all raw pixel data would be *aligned with the XYZ grid*, so there would be no way to read the unprojected raw data as in the COG. But this also allows for efficient usage of overviews and makes it so we don't have to infor

[2021-07-16 12:37] chapmanjacobd commented on #226
[code]

ohhhh very cool. I hadn't even thought about that

It sounds like working at the tile level would completely solve my use case. Even if terracotta didn't do exactly what I wanted it would be a lot more accessible with the above routes as examples

[2021-07-16 13:12] j08lue commented on #226
Nice list, @dionhaefner! Seeing this in clear API specs makes the cases quite tangible.

Do we have to limit ourselves to bbox or could we take any polygon (with the URL length limit, of course)? Then a bbox would just be a simple case of that. Especially for zonal statistics, users (like me at least) will often want to be more specific than just a box and animations look nice when masked to the p

[2021-07-16 15:15] dionhaefner commented on #226
Yes I meant arbitrary geometry.

Yea I'm not sure if that might be taking it too far. Your soil moisture example would also work with many small rasters, right? If you want to put stuff on a map then tiling should be what you want.

On the other hand, in my proposed API all output would be aligned with the XYZ grid, so if you really really need this you can always compute the nearest pixel to your

[2021-07-17 17:10] chapmanjacobd commented on #226
Another use case that I have been thinking about recently is on-the-fly vector boundary aggregation. This is a difficult problem if you have many temporal layers--especially many temporal raster and vector combinations. Pre-computing is not very scalable and some layers require more complex aggregation functions than `mean()` or `weighted_mean()`.

Terracotta presents an interesting opportunity fo

[2021-08-06 14:02] #185 closed

[2021-08-06 17:47] #74 closed

[2021-08-22 22:38] monkknacky opened #232 "Error when starting "terracotta serve""
I tried with multiple rasters first, then limited to one COG file, same result. I used the optimized rasters from terracotta to create this file. I also tried YYYYMMDD format for date, and DDMMYYYY.

The filename={date}_{band}.tif

terracotta version = 0.7.2
OS=ubuntu 21.04
cli= terracotta serve -r {date}_{band}.tif

[code]

gdalinfo:
[code]

[2021-08-23 07:27] dionhaefner commented on #232
This looks like a version conflict to me. Could you please post the output of `pip freeze`?

[2021-08-23 11:21] monkknacky commented on #232
aenum==3.1.0
affine==2.3.0
aiofiles==0.5.0
aiohttp==3.7.4
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.10.0
anaconda-project==0.8.3
aniso8601==7.0.0
AnyQt @ file:///home/conda/feedstock_root/build_artifacts/anyqt_1603277375561/work
apispec==5.1.0
apispec-webframeworks==0.5.2
appdirs==1.4.4
argcomplete==1.12.3
argh==0.26.2
argon2-cffi @ file:///tmp/build/80754af9/argon2-cffi_15968

[2021-08-23 11:43] dionhaefner commented on #232
This is a version conflict between `marshmallow` and `apispec`. Easiest fix should be

[code]

Let me know if that works for you.

[2021-08-23 12:00] monkknacky commented on #232
Works! Thank you.

[2021-08-23 12:00] #232 closed

[2021-08-27 07:26] rico-ci opened #233 "Breaking dependency setuptools-scm version not fixed in terracotta/setup.py"
Yesterday, our CI/CD pipeline failed due to a breaking change in the `setuptools-scm` dependency which Terracotta requires for the setup:
https://github.com/DHI-GRAS/terracotta/blob/9fdf06f1c33305877ff73cf4ae71d199fbacdcce/setup.py#L54
As the version is not fixed in Terracotta's `setup.py`, the latest version of `setuptools-scm` (`6.1.0`) got installed. However, this new version introduces breakin

[2021-09-01 16:58] #33 closed

[2021-09-01 19:18] #55 closed, assigned to nobody

[2021-10-09 07:17] akatran opened #235 "Tile colors are different at some tiles"
Hello,

We are trying to figure out why some tiles have different colors than other tiles at specific zoom levels?

I enclose a screenshot demonstrating that the majority of the tiles has this blue color but other tiles has yellow or purple.

![Tileswithdifferentcolors](https://user-images.githubusercontent.com/858500/136648131-47edf410-f5cd-4fda-bd49-a7f267b101a9.png)

Is this something in the te

[2021-10-10 10:38] akatran commented on #235
I didn't mentioned that this dataset changes every 15 minutes so going through the code I found that is uses a cache.
Disabling it by setting it's size to zero seems that solved the problem.

Is there an option to disable the cache or if we just put 0 for cache size it will do the job!

The configuration option that I set to zero is RASTER_CACHE_SIZE!

[2021-10-10 11:09] #235 closed, assigned to nobody

[2021-10-10 13:01] #197 closed

[2021-10-14 19:39] antonkarasu opened #237 "RGB GeoTIFFs??"
I can find no documentation on this; is it possible to use RGB GeoTIFFs? I see some implementations using multiple files - one for each band, but is there an alternative?

[2021-10-14 20:27] dionhaefner commented on #237
No, one file for each band is the correct way to handle this. It should be easy to split your RGB GTiffs with GDAL or rasterio, but if you have a good suggestion to handle this with Terracotta I'm all ears.

[2021-11-17 15:55] nickeopti opened #238 "Use SQLAlchemy for SQL drivers?"
Opinions on using SQLAlchemy to combine the terracotta SQL drivers?

It seems to eliminate the need for two almost identical files, `drivers/mysql.py` and `drivers/sqlite`, and make it easy to allow for a PostgreSQL driver as well.

Are there some disadvantages discouraging the change?
It will of course add an extra dependency -- how bad is that?

@dionhaefner @j08lue
References #76.

[2021-11-17 16:13] dionhaefner commented on #238
Sounds reasonable to me :) If you can make all the tests pass I would be happy to merge this.

[2021-11-18 10:02] nickeopti commented on #238
Cool :) I'm not quite ready to begin yet (and I honestly don't know SQLAlchemy well enough to know how big a challenge it will be), but I'll add it to my to-do list then

[2021-12-02 11:46] solsticedhiver opened #239 "terracotta core dump with proj-data from ubuntugis"
Hello,
I don't know where to report this and I don't know either what is causing this.

On ubuntu 20.04, with the ppa from terracotta core dump with proj-data from ubunutgis. I have email the admiin team of the repo. This is a copy.

I am trying to install terracotta (https://github.com/DHI-GRAS/terracotta/) in a python virtualenv and this leads to error and core dump when proj-data from ubuntuGIS

[2021-12-02 18:27] solsticedhiver commented on #239
After having upgrade *rasterio*, it works for `optimze-rasters` or `ingest` but not for `server`

It enforces the version 1.1.8
[code]

[2021-12-02 20:56] dionhaefner commented on #239
I agree, it's time to unpin rasterio. Performance is slightly worse but it's not as bad as it was.

[2021-12-02 20:58] #233 closed

[2021-12-02 20:59] dionhaefner commented on #204
Travis is dead. We need working tests ASAP - before that we can't merge any PRs.

[2021-12-03 07:56] nickeopti opened #241 "Internal reliance on physical order of DB rows"
Many of the methods in the database drivers allow input as an ordered sequence of values -- which shall correspond to the order of the keys in `driver.key_names`, which is again assumed to always be in the same order as they originally were, when the database was created. See eg
https://github.com/DHI-GRAS/terracotta/blob/main/terracotta/drivers/mysql.py#L429, and
https://github.com/DHI-GRAS/terra

[2021-12-03 08:29] dionhaefner commented on #241
Agreed.

Up to you, if you can make the current tests pass without changes it's fine for now.

[2021-12-16 10:50] #204 closed

[2021-12-16 10:51] dionhaefner commented on #239
Done.

[2021-12-16 10:51] #239 closed

[2021-12-16 10:52] dionhaefner commented on #237
I guess this is answered.

[2021-12-16 10:52] #237 closed

[2021-12-17 18:18] CChisuwo opened #243 "Rasterio Dependency version pinned to 1.1.8."
Hello, i am attempting to install terracotta on python version 3.9.5 using pip. This is of course after installing rasterio 1.2.1 from https://www.lfd.uci.edu/~gohlke/pythonlibs/#rasterio. However, the installation seems to query for rasterio 1.1.8. Any advice or workarounds I can use?

[2021-12-17 19:33] dionhaefner commented on #243
You can use the current master of Terracotta:

[code]

[2021-12-20 16:02] dionhaefner commented on #243
Fixed in the current release (`0.7.4`).

[2021-12-20 16:02] #243 closed

[2021-12-20 16:03] #171 closed

[2021-12-23 16:27] chapmanjacobd commented on #226
Thinking more about this I think it will be too slow to compute geometry operations per tile...

here is my half-baked code if someone wants to try further

[code]

[2021-12-23 16:27] #226 closed

[2021-12-23 21:09] dionhaefner opened #244 "Expose raw data and support queries with geometry"
I'm not against adding a route mapping `[bbox, zoom level] -> png` and `[bbox, zoom level] -> pixel data`. Something like

[code]

With lots of validation on the passed bbox. In this proposal all raw pixel data would be *aligned with the XYZ grid*, so there would be no way to read the unprojected raw data as in the COG. But this also allows for efficient usage of overviews and makes it so we don't

[2022-01-04 20:19] dionhaefner opened #245 "Add database migration script"
We've had the issue a couple of times where a new release breaks compatibility with the database format while not really changing much. The way this is handled in other libraries is by providing a migration script that works like this:

[code]

This requires some sort of incremental changelog that specifies the necessary transformations between versions.

[2022-01-05 10:25] dionhaefner opened #246 "Make drivers thread-safe"
Ultimately, we would like to return to multi-threaded access to rasters and metadata. For this we would need to use [SQLalchemy's threading mechanism](https://docs.sqlalchemy.org/en/14/orm/contextual.html).

[2022-01-17 13:05] j08lue commented on #245
That would be sweet. I had this case a few dozen times when upgrading deployments. I usually just bump the version in the DB manually when In know that the schema did not change. This would be a nice tool for that.

[2022-01-18 19:00] j08lue commented on #244
We have had this on an internal wish list for a while, since pre-fetched PNG for a selected area is a way to render a smooth animation of a selected area on the map.

[2022-01-18 22:32] mrpgraae commented on #246
Since all of the potential gains from multi-threaded access lie in I/O operations, I'm wondering if it would not make more sense to move towards asyncio and async / await, instead of multi-threading?

I have some experience with SQLAlchemy's new async interface together with asyncpg, so I could be of help here.

Even async with MySQL is slowly maturing with https://github.com/aio-libs/aiomysql tho

[2022-01-18 22:40] dionhaefner commented on #246
The main motivation for this is to have multi-threaded raster access; database queries are never the bottleneck in Terracotta, so no need to optimize here. So unless rasterio / GDAL goes through some serious paradigm shift (i.e., starts supporting non-blocking IO) I don't see much value in this over threading.

[2022-01-19 09:36] mrpgraae commented on #246
Right, GDAL would be the blocker here. Seems very unlikely that they would decide to make an async interface.

[2022-01-19 09:46] mrpgraae commented on #246
I could still see some combination of asyncio and threading that would be beneficial.

For example, using an ASGI framework for handling requests, then doing raster access in an external thread which is then `await`ed. This would mean that Terracotta could serve multiple requests asynchronously.

This would probably not do anything for single-request latency, but it should, in theory, mean that Te

[2022-01-19 10:19] dionhaefner commented on #246
I'm not against async in principle, but in this case the work should start with async raster retrieval, not database accesses. Also we'd need to dump flask? Seems like a huge undertaking to me, and given that GDAL still seems to have issues with multithreading this is hypothetical anyway.

[2022-01-19 12:38] mrpgraae commented on #246
Yes that's also what I'm suggesting, but to wrap the multithreading inside an async interface, so that it would work within an ASGI web framework. I'm just saying that for async raster retrieval to _really_ pay off, requests should be handled async as well.

Yes, it would be a lot of work, I'm not saying this is something we should definitely do. I'm just thinking out loud and airing ideas :slight

[2022-01-19 12:41] dionhaefner commented on #246
Yes, or we don't know. Since the bug is so elusive you only notice it in heavy use (i.e. a production setting), so it may actually be fixed already...

[2022-01-24 02:33] chapmanjacobd opened #247 "best base zoom level where no oversampling has to be done"
I came across this function recently and thought it might be nice metadata to have within Terracotta.

[code]

https://github.com/ungarj/mapchete/blob/b1194fdec7f116466feafb7afd26e1de3ef7f042/mapchete/io/_misc.py#L30

The use case would be having a little button in the UI which would change the zoom level to the max zoom without oversampling.

For a compute route one would need to query the `/meta

[2022-01-24 09:17] dionhaefner commented on #247
I'm not sure how useful this is, since that zoom level typically doesn't exist (unless the raster is perfectly aligned with the Mercator grid). I think this is what is encoded in the second parameter of this function (`tile_pyramid_type`).

But if you are missing this functionality it's fairly easy to attach to your deployments:

[code]

Then, `/metadata` will include your `native_zoom_level` fiel

[2022-01-25 01:46] #247 closed

[2022-01-28 10:56] #148 closed

[2022-02-11 03:12] mz8i opened #249 "Mismatch between raster pixel values and returned colormap"
We're relying on data returned from the `/colormap` endpoint to show approximate raw raster values upon hovering over a point in a frontend application.
However, for a small number of pixels in almost every tile, the pixel color doesn't match any of the entries returned from `/colormap`. The "invalid" color is usually off by 1 on one of the three r,g,b components from the nearest legend entry. Thi

[2022-02-11 12:13] dionhaefner commented on #249
Thanks for the detailed report. I think the most interesting part is this:

Which ones? I couldn't see any.

[2022-02-11 12:27] mz8i commented on #249
You're right, my mistake. It should've actually been the opposite:
The JSON is missing some values that both the tiles and the .npy file contains - for example `246,245,249` is not in the JSON.

Which actually presents a conclusion - the way currently the `/colormap` JSON is generated, is to start with a series of evenly spaced values covering the `stretch_range` and to map each of these to an ind

[2022-02-11 12:30] dionhaefner commented on #249
Keep in mind that `/colormap` takes a `num_values` parameter, so in general that is not possible. But I agree that, for `num_values=255`, the output should ideally match the colormap file exactly.

I have identified the issue and will push a fix in a few minutes.

[2022-02-11 12:43] dionhaefner commented on #249
Could you verify whether this is fixed in #250?

[2022-02-11 13:43] mz8i commented on #249
A brief check suggests that indeed it is, thank you!

[2022-02-11 13:51] mz8i opened #251 "Import error on `from collections import Mapping` when running on Python 3.10"
When installing from source using `conda env create -f environment.yml`, I get Python 3.10 installed due to the dependency specifier `python>=3.6`.

However, running the server and querying `/singleband` results in errors with message `AttributeError: module 'collections' has no attribute 'MutableMapping'`

Probably related: https://stackoverflow.com/questions/70195545/module-collections-has-no-at

[2022-02-11 14:13] dionhaefner commented on #251
There's still no rasterio wheel for Python 3.10, so support is somewhat  experimental. I'll have a look at how things stand with conda. But since we don't use `MutableMapping` this is likely a dependency issue.

[2022-02-16 13:34] j08lue commented on #244
Yes, and binary tiles are a cool concept, too. Btw, we have this simple client library https://github.com/DHI-GRAS/terracotta-react

[2022-02-17 11:54] mrpgraae commented on #21
Reviving this issue, as I came up with an idea for authentication that might actually make sense to implement in to Terracotta itself.
@dionhaefner @j08lue @nickeopti let me know what you think.

# JWT Token
The client attaches a [JWT bearer token](https://jwt.io/) to the `Authorization` header of every request to Terracotta
[code]
Taking apart this token, we see that the payload looks like this
[

[2022-02-17 12:07] mrpgraae commented on #21
Actually, there is a reasonable way to implement authentication for only some datasets. We could add a config variable that looks something like
[code]

That way, access to datasets under those paths would require tokens that begin with those paths, like `/private/ndvi` or `/users/1234`.

[2022-02-18 13:02] mrpgraae commented on #245
Since we are using SQLAlchemy, I would suggest using Alembic https://alembic.sqlalchemy.org/en/latest/

Alembic is a CLI tool, but they also have a python API, so you can call their migration commands from within your own tool.

[2022-02-21 09:30] dionhaefner opened #254 "Make concurrent retrieval configurable"
Currently, we use a multiprocess pool to retrieve RGB bands in parallel, and fall back to sequential retrieval if that is not available. I would prefer having this as a setting, potentially also with the possibility to use a thread pool. We moved away from threading after experiencing race conditions within GDAL, but that might not always be a problem (for example, the issue might be fixed in rece

[2022-02-21 10:05] #251 closed

[2022-02-21 10:06] dionhaefner commented on #251
Fixed the `Mapping` issue, so running on 3.10 via conda should work fine now.

[2022-02-21 11:11] dionhaefner commented on #245
Sounds good to me. Let's just make it an optional dependency that we check for inside the migration script.

[2022-02-21 11:13] dionhaefner commented on #21
It looks a bit icky to me because this depends on key order to enforce permissions. And is this really easier than handling it from the outside? Should be simple enough to achieve the same thing.

[2022-02-21 11:57] mrpgraae commented on #21
But requests already depend on key order? The fact that keys have a certain order/hierarchy is already an established fact in Terracotta and a solid design choice that I don't think is likely to ever change.

Well, it's one less thing that users would have to implement themselves. Also, I think that even though some users know that they will need authentication, they might not have any idea about

[2022-02-21 12:14] dionhaefner commented on #21
I meant that it forces users to treat the first key(s) specially, which quickly degenerates to treating the first key as `user_id`. In this case both the first *and* last key would have special meaning. It feels like, for complicated scenarios, it would be preferrable to have a mapping `user_id: [allowed_datasets]` which wouldn't be possible in this proposal.

That sounds like a great compromise.

[2022-02-21 12:37] mrpgraae commented on #21
Yes, I see your point. In the case where you just want per-user auth it would definitely degenerate to this. But there is still some flexibility. Since keys are just strings, I could imagine a setup where you have key names like `("scope", "sensor", "date")`

Then you can still have values like
[code]

Where `public` are datasets that anyone could access and an integer would indicate that only tha

[2022-02-21 16:57] #238 closed

[2022-02-21 16:57] #241 closed

[2022-02-21 16:57] mz8i commented on #249
@dionhaefner any schedule for when a new package version will be released that includes this fix?

[2022-02-21 21:03] dionhaefner commented on #249
Done.

[2022-02-22 17:09] mz8i commented on #249
I'm sorry to report that after using version 0.7.5 across our project to display multiple layers, I can now see the issue is not fixed... It does not appear in that particular layer/geographical area I was testing, but it does appear in many other places - perhaps even more than before the update.

Please let me know if there is any information I can send that would be useful to debug this.
As a w

[2022-02-22 19:01] dionhaefner commented on #249
Can you give me a request to `/colormap` that does not return the same as the npy files?

[2022-02-23 11:28] mz8i commented on #249
@dionhaefner I'm sorry, the error was on my side - I overlooked a non-standard mechanism in which our app was caching the old responses in local storage, so it didn't work despite updating.
I've now double-checked all colour scales we use, and the responses for all match the .npy files exactly.
Apologies again for the confusion and thank you for fixing this.

[2022-02-23 11:28] #249 closed

[2022-02-28 09:52] nickeopti opened #255 "TerracottaDriver.get_metadata assumes meta store is writeable when lazy-loading metadata"
When lazy-loading metadata, `TerracottaDriver.get_metadata` assumes that the `meta_store` has an implemented `insert` method:
[code]

However, this behaviour fails when using `RemoteSQLiteMetaStore`, as that meta store does not implement insertions. As far as I can tell, this problem also existed before the SQLAlchemy refactor (note how `insert` is overwritten to not be implemented here https://gi

[2022-02-28 10:54] dionhaefner commented on #255
I never intended the remote driver to be usable with lazy loading. I guess we would ideally raise a better error though.

Not persisting lazily computed metadata is a recipe for terrible performance and a major footgun, so I'd advise against that. `try-except` is better but not ideal either since raising `NotImplementedError` is not part of the "official" API.

How about we introduce a class attri

[2022-02-28 13:56] kiksekage commented on #255
Theres a potential solution up on the `issue225-lazy-writeable` branch. Notably, the `MetaStore` class is set to be writable by default:
https://github.com/DHI-GRAS/terracotta/blob/a3aedcbfcd95aed279dd9754434b6409462b4bc1/terracotta/drivers/base_classes.py#L41

The added a very thin decorator to throw the new `DatabaseNotWritable` exception:
https://github.com/DHI-GRAS/terracotta/blob/a3aedcbfcd95

[2022-02-28 14:37] dionhaefner commented on #255
Please open a PR so we can review these changes in more detail.

[2022-02-28 14:43] kiksekage commented on #255
True! Up at #256 👍

[2022-03-07 08:41] mrpgraae commented on #21
What I mean by too complex, is that I can't see how you can have both of these things that you mention.
An arbitrary user -> dataset mapping implies a DB lookup.

[2022-03-07 08:46] mrpgraae commented on #21
But it's entirely possible to implement externally or as a plugin, so that's what we will do I think :slightly_smiling_face:

[2022-03-09 16:55] nickeopti opened #259 "CI on macOS fails with something possibly related to rasterio/GDAL"
There seems to be a problem with our CI tests on macOS. The following error occurs:
[code]
which seems unrelated to any code changes.

I just noticed it -- I have not looked into it yet.

[2022-03-09 19:56] dionhaefner commented on #259
Looks like something is broken in conda-forge. Let's wait a couple of days to let it sort itself out.

[2022-04-01 10:22] #255 closed

[2022-04-05 09:03] #259 closed

[2022-04-10 12:26] JoeGardner000 opened #261 "Could you help upgrade the vulnerble dependency in terracotta ?"
Hi, @dionhaefner , @mrpgraae , I'd like to report a vulnerability issue in **terracotta_0.7.5**.
### Issue Description
I noticed that **terracotta_0.7.5** directly depends on **rasterio_1.2.10**.
However, **rasterio_1.2.10** sufferes from the vulnerabilites which the C libraries exposed as following dependency graph shows.
### Dependency Graph between Python and Shared Libraries
![image (11)](http

[2022-04-10 13:11] dionhaefner commented on #261
Thanks for the report.

Where did you get that from? We do not depend on any specific version of rasterio, the only requirement is `>=1.0`. I guess we could exclude `1.2.10` if it is the only vulnerable version, but I assume that rasterio has been using the same HDF5 version for quite a while?

Also, I see no indication that this is fixed in recent rasterio wheels. The build repo still seems to us

[2022-04-11 02:09] JoeGardner000 commented on #261
@dionhaefner , thanks for your feedback.

Rasterio has upgrade HDF5 to patch version in `master`, may release in the next version.

[2022-04-11 07:45] dionhaefner commented on #261
OK, let's wait for the next release then and see what happens.

[2022-04-20 09:33] panakouris opened #262 "force newer sqlalchemy version"
Hello. On my end I had installed the sqlalchemy==1.2.13 and when trying to get the driver I encountered the following issue
[code]
After updating sqlalchemy to the latest version (1.4.35) the issue was solved.

[2022-04-20 15:20] dionhaefner commented on #262
Contributions welcome :)

[2022-04-28 09:41] #262 closed

[2022-05-02 12:14] panakouris opened #266 "MySQL - Lost connection to MySQL server during query"
I finally managed to reproduce this issue mentioned also in #265, and found a possible solution to this. The issue is that after some period of inactivity from the time I was getting the driver with `tc.get_driver()` to the time I was interacting with the database (for example with `driver.get_datasets()`), I keep getting this error message `OperationalError: (2013, 'Lost connection to MySQL serve

[2022-05-02 12:19] dionhaefner commented on #266
Sounds reasonable to me.

[2022-05-03 09:40] #266 closed

[2022-06-15 15:50] gillesserco opened #268 "terracotta connect: option to specify listening interface"
Hello

I found the option '--allow-all-ips' for  terracotta serve -d db.sqlite

Is there an identical option for terracotta connect, or a way to specify the interface? didn't' found it.
If no option is present, where in the code can I force listening to one interfaces or all of them (0.0.0.0)?

Thanks, best regards

Gilles

[2022-06-15 20:42] dionhaefner commented on #268
There is no such option by design, since we view the connect interface as a developer tool and not as something that should be facing the outside world.

If you are sure you want to do this, you could change this line:

https://github.com/DHI-GRAS/terracotta/blob/5cbe5412a7caf566a1bee0fcddad7d1d9e3ab8ca/terracotta/scripts/connect.py#L92

Just pass `host="0.0.0.0"` or the desired interface.

[2022-06-16 12:09] gillesserco commented on #268
Perfect, thanks very much

I agree with you, but using 0.0.0.0  is convenient for me especially during development time, where the available interfaces of the dev host may be modified, or when the access routes changes...

[2022-06-20 09:37] dionhaefner commented on #268
Sounds like this is resolved, then :)

[2022-06-20 09:37] #268 closed

[2022-07-12 13:13] mrpgraae opened #270 "Segmentation fault in TerracottaDriver.insert with Shapely > 1.8.0"
Python: 3.9
OS / Architecture: macOS arm64

I encountered a segmentation fault whenever I tried inserting any raster with `TerracottaDriver.insert`. This was in an ingestion script that was previously working fine, with images that had once been successfully ingested.

After stepping through the code with PDB, I identified this line as the one causing the segfaults
https://github.com/DHI-GRAS/terr

[2022-07-13 09:32] dionhaefner commented on #261
Bumped rasterio to 1.3 on master, so this should be fixed.

[2022-07-13 09:32] #261 closed

[2022-07-13 09:33] dionhaefner commented on #270
Do you have a reference for the upstream issue?

[2022-07-13 12:26] dionhaefner commented on #270
Confirmed on my Mac. Let's see what comes out of it.

[2022-07-26 11:52] tomalrussell opened #271 "More liberal pattern when running `terracotta ingest`"
It would be convenient to allow some punctuation marks as well as alphanumeric characters in the regex pattern matching key values.

I have a raster pattern like:
-  `{type}__rp_{rp}__rcp_{rcp}__epoch_{epoch}__gcm_{gcm}.tif`
and files like:
- `cyclone__rp_10__rcp_8.5__epoch_2050__gcm_CMCC-CM2-VHR4.tif`
- `river__rp_2__rcp_8.5__epoch_2030__gcm_MIROC-ESM-CHEM.tif`

The regex match is too strict to a